<ng-container>
  <div class="bg-box mt-20">
    <div class="flex between-xs">
      <h2 class="heading">Leave History </h2>
    </div>

    <div class="flex bottom-xs end-xs  fs-14">
      <mat-form-field class="  mr-50 no-pb">
        <input matInput placeholder="Search" aria-label="Leader" [matAutocomplete]="auto" [formControl]="managerCtrl"
          [(ngModel)]="value">
        <div *ngIf="value" class="pointer" style="position: absolute;right: 5px;top:50%;transform:translateY(-50%);"
          [svgIcon]="{url:'./assets/icons-sprite-new.svg#close-circle',w:15}" (click)="clear()">
        </div>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSubmitResolvedLeaveFilter($event)" class="fs-14">
          <mat-option *ngFor="let emp of filteredManagers | async" [value]="emp.emp_name">
            {{emp.emp_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="no-pb atai-date-range no-pb" style="width: 200px;">
        <app-atai-date-range [maxDate]="maxDate" (dateSelected)="onDateSelect($event)"></app-atai-date-range>
      </mat-form-field>

      <div title="Download" class="export_icon ml-50 pointer" (click)="onClickExportResolved()"
        [svgIcon]="{url:'./assets/icons-sprite-new.svg#excel-green',w:25}">
      </div>
    </div>
  </div>


  <div class="mt-20" *ngIf="showMessage == true">
    <div class="grid">
      <ng-container *ngIf="LEAVE_DATA_HISTORY.length==0">
        <div class="fs-14 col-primary-400" *ngIf=" historyLeavesFiltersApplied">
          No leave history available
        </div>
      </ng-container>


      <div style="overflow-y: auto;max-height: 450px;" class="pr-10" *ngIf="LEAVE_DATA_HISTORY.length" #refTableWrap>
        <app-show-table [LEAVE_DATA_HISTORY]="LEAVE_DATA_HISTORY" style="width:100%"></app-show-table>
      </div>
    </div>
  </div>

  <!-- <app-leave-details #showAppliedLeaveDialog type='team' [requestId]="leaveDetailsRequestId"></app-leave-details> -->
</ng-container>




<ng-template #not_access>
  <div>Sorry, You Don't have access to this page</div>
</ng-template>
