<ng-container>
<div class="bg-box mt-20">
    <div class="flex between-xs">
        <h2 style="color: var(--color-primary);">Leave History </h2>

    </div>

    <div class="flex middle-xs">
        <!-- <form class="flex middle-xs"> -->

        <div style="min-width: 250px;margin-bottom: -20px;">
            <mat-form-field class="w-100 mr-10">
                <input matInput placeholder="Search" aria-label="Leader" [matAutocomplete]="auto" [formControl]="managerCtrl" [(ngModel)]="value">
                <button style="background: none;border:none;" mat-button type='button' matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSubmitResolvedLeaveFilter($event)">
                    <mat-option *ngFor="let emp of filteredManagers | async" [value]="emp.emp_name">
                        {{emp.emp_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="ml-15" style="margin-left: 55px;">
            <div class="dateinput change"  [ngClass]= "Ischecked ? 'disable' :''">
                <input [disabled] = "!side"  [disabled]="Ischecked ? true : false"  [ngStyle] = "{'color' : side == true ? '#3a7bca' : 'slategray'}" type="daterange" placeholder="Select Date range" ngxDaterangepickerMd startKey="startDate" endKey="endDate" [alwaysShowCalendars]="true" [(ngModel)]="selectedHistoryRange" [showRangeLabelOnInput]="true" [locale]="{separator: ' To ',format: 'DD-MM-YYYY'}"
                    #picker [ranges]="ranges" [keepCalendarOpeningWithRange]="true" class="ngx-daterangepicker-action" style="border: none;background: none;color: red;" (datesUpdated)="onSubmitResolvedLeaveFilter($event)" [opens]="'left'"
                    [drops]="'down'" readonly>

                <button [disabled] = "!side"  [ngStyle] = "{'color' : side == true ? '#3a7bca' : 'slategray'}" type="button" class="ngx-daterangepicker-action" style="background: none; border: none;cursor: pointer;">
                            <mat-icon  role="img" (click)="pickerDirective.open()"
                        class="mat-icon material-icons ngx-daterangepicker-action" [ngStyle] = "{'color' : side == true ? '#3a7bca' : 'slategray'}" >date_range</mat-icon>
                        </button>
            </div>
        </div>
<!-- month-year starts  -->
        <!-- <div class="ml-15">
            <app-month-year (newItemEvent1) = "getTrigger($event)" (newItemEvent) = "getSide($event)" ></app-month-year>
        </div> -->
<!-- month-year ends  -->

        <div class="future__leave_checkbox">
            <mat-checkbox [checked]= "Ischecked"  color="primary" (change) = "onIsDisableClick($event)"> 
            <label style="font-size: 16px;"> Future Leaves Only</label>
            </mat-checkbox>
        </div>

        <div class="export_icon ml-15" style="position: absolute; right: 100px ;float: right; margin-top: 5px;margin-left: 65px">
            <a (click)="onClickExportResolved()" style="max-height: 10px;">
                <span class="ml-5" [svgIcon]="{url:'./assets/icons-sprite.svg#download-new',w:30}" style="color:var(--color-tertiary);margin-top:0px;cursor:pointer" svg-fill="currentColor"></span>
            </a>
        </div>

        <!-- </form> -->
    </div>
</div>


<div class="bg-box" *ngIf="showMessage == true">
    <!-- <h2 style="color: var(--color-primary);">Resolved Leave Applications </h2> -->
    <div class="grid">
        <ng-container *ngIf="LEAVE_DATA_HISTORY.length==0">
            <div *ngIf=" historyLeavesFiltersApplied">
                No leave history available
            </div>
            <!-- <ng-template #refFiltersNotApplied>
                <div>
                    Apply filters to fetch leave requests
                </div>
            </ng-template> -->
        </ng-container>


        <div style="overflow-y: auto;max-height: 450px;" *ngIf="LEAVE_DATA_HISTORY.length" #refTableWrap>
            <app-show-table [LEAVE_DATA_HISTORY] = "LEAVE_DATA_HISTORY"></app-show-table>
            <!-- <table mat-table [dataSource]="LEAVE_DATA_HISTORY"  *ngIf="LEAVE_DATA_HISTORY.length!=0" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="serial">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> S.No. </th>
                    <td mat-cell *matCellDef="let element;let i=index;">{{i+1}}</td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Staff No.
                    </th>
                    <td mat-cell *matCellDef="let element;let i=index;">{{element?.emp_staff_no}}</td>
                </ng-container>

                <ng-container matColumnDef="emp_name">
                    <th mat-header-cell *matHeaderCellDef [class.show-on-hover]="!sortHistoric.empName">
                        Name
                        <mat-icon class="pointer {{true ? 'north' : 'south'}}" matSuffix (click)="onClickSort('empName')" style=" font-size:12px;width:12px;height:12px;">
                            {{sortHistoric.empName == 'asc' ? 'north' : 'south' }}
                        </mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element;let i=index;">{{element?.emp_name}}</td>
                </ng-container>

                <ng-container matColumnDef="day_count">
                    <th mat-header-cell *matHeaderCellDef>Total Days </th>
                    <td mat-cell *matCellDef="let element"> {{element?.day_count}} </td>
                </ng-container>

                <ng-container matColumnDef="startdate">
                    <th mat-header-cell *matHeaderCellDef [class.show-on-hover]="!sortHistoric.startDate"> Start Date
                        <mat-icon class="pointer {{true ? 'north' : 'south'}}" matSuffix (click)="onClickSort('startDate')" style=" font-size:12px;width:12px;height:12px;">
                            {{sortHistoric.startDate == 'asc' ? 'north' : 'south' }}
                        </mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{convertDatefmt(element?.startdate)}} </td>
                </ng-container>

                <ng-container matColumnDef="enddate">
                    <th mat-header-cell *matHeaderCellDef [class.show-on-hover]="!sortHistoric.endDate"> End Date
                        <mat-icon class="pointer {{true ? 'north' : 'south'}}" matSuffix (click)="onClickSort('endDate')" style=" font-size:12px;width:12px;height:12px;">
                            {{sortHistoric.endDate == 'asc' ? 'north' : 'south' }}
                        </mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{convertDatefmt(element?.enddate)}} </td>
                </ng-container>

                <ng-container matColumnDef="leave_type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.leave_type_name == 'Paid' ? 'General' : element.leave_type_name}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status </th>
                    <td mat-cell *matCellDef="let element"> {{element?.req_status}} </td>
                </ng-container>

                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element;let i = index">
                        <div class="flex middle-xs start-xs">
                            <app-button class=" view-leave-details-history" title="View Details" type="button" theme='blue-lite' size="extra-small" [attr.data-id]="element.id" [attr.data-start-date]="convertDatefmt(element.startdate)+ ' to ' +convertDatefmt(element.enddate)">View
                            </app-button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="leaveApplicationColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: leaveApplicationColumns; "></tr>
            </table> -->
        </div>
    </div>
</div>

<!-- <app-leave-details #showAppliedLeaveDialog type='team' [requestId]="leaveDetailsRequestId"></app-leave-details> -->
</ng-container>




<ng-template #not_access>
    <div>Sorry, You Don't have access to this page</div>
</ng-template>
  