<ng-container>
  <div class=" flex between-xmd top-md flex-row-xmd flex-col-xs middle-xmd mt-20">
    <div class="flex between-xs">
      <h2 class="heading">Leave History </h2>
    </div>

    <div class="flex bottom-md flex-col-xs flex-row-md end-xs fs-14 middle-xs ">
      <mat-form-field style="width:200px;" class="mr-md-50 no-pb mb-15 mb-md-0">
        <input matInput placeholder="Search" aria-label="Leader" [matAutocomplete]="auto" [formControl]="managerCtrl"
          [(ngModel)]="value">
        <div *ngIf="value" class="use-svg" style="position: absolute;right: 5px;top:50%;transform:translateY(-50%);"
          symbol="close-circle" w="15" (click)="clear()">
        </div>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSubmitResolvedLeaveFilter($event)" class="fs-14">
          <mat-option *ngFor="let emp of filteredManagers | async" [value]="emp.emp_name">
            {{emp.emp_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="no-pb atai-date-range no-pb" style="width: 200px;">
        <app-atai-date-range [maxDate]="maxDate" (dateSelected)="onDateSelect($event)"></app-atai-date-range>
      </mat-form-field>

      <svg title="Download" class="export_icon ml-md-50 use-svg mt-15 mt-md-0" (click)="onClickExportResolved()" symbol="excel-green"
        w="25">
      </svg>
    </div>
  </div>


  <div class="mt-20" *ngIf="showMessage == true">
    <div class="grid">
      <ng-container *ngIf="LEAVE_DATA_HISTORY.length==0">
        <div class="fs-14 col-primary-300" *ngIf=" historyLeavesFiltersApplied">
          No leave history available
        </div>
      </ng-container>


      <div style="overflow-y: auto;max-height: 450px;" class="pr-10" *ngIf="LEAVE_DATA_HISTORY.length" #refTableWrap>
        <app-show-table [LEAVE_DATA_HISTORY]="LEAVE_DATA_HISTORY" style="width:100%"></app-show-table>
      </div>
    </div>
  </div>

  <!-- <app-leave-details #showAppliedLeaveDialog type='team' [requestId]="leaveDetailsRequestId"></app-leave-details> -->
</ng-container>




<ng-template #not_access>
  <div>Sorry, You Don't have access to this page</div>
</ng-template>
