<div style="display: flex;justify-content: space-between;">
    <h2 class="heading">Holiday List {{this.selectedYear}}</h2>

    <!-- <form [formGroup]="holidayForm" >
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
  
    <div formArrayName="holidays" *ngFor="let alias of holidayForm.get('holidays')['controls']; let i=index">
      {{i}} 
      <div [formGroup]="alias">
        <button type="submit" (click)="deleteHoliday(i)">Delete</button>
          <div>
            <label>
                Alias: {{i}}
                <input type="text" formControlName="date">
            </label>
         </div>
         <div>
            <label>
                Alias: {{i}}
                <input type="text" formControlName="des">
            </label>
         </div>
         <div>
            <label>
                Alias: {{i}}
                <input type="text" formControlName="locations">
            </label>
         </div>

        </div>
    </div>
    <button type="submit" (click)="submitHoloday()">Submit</button>
    
    
</form> -->
    <div *ngIf="is_emp_admin && isConfirmed==false && editMode==false" style="display:flex">
        <app-button theme="blue-lite" size="small" type="submit" (click)="confirmHoliday()">Notify Employees</app-button>
    </div>
</div>
<div *ngIf="(is_emp_admin==false)" style="display: flex;justify-content:flex-end">
    <div *ngIf="IsNextYearVisible && currentDate.getFullYear()==selectedYear">
        <app-button theme="blue-lite" size="small" type="submit" (click)="getNextYearHoliday()">Next Year Holidays</app-button>
    </div>
    <div *ngIf="(currentDate.getFullYear()!=selectedYear)" style="display: flex;justify-content:flex-end">
        <app-button theme="blue-lite" size="small" type="submit" (click)="getCurrentYearHoliday()">Current Year Holidays</app-button>
    </div>
</div>
<div>
    <div *ngIf="is_emp_admin" style="display: flex;justify-content:space-between;">
        <div style="display: flex;">
            <mat-form-field style=" max-width: 350px;">
                <mat-label>Select Year</mat-label>
                <mat-select (selectionChange)="changeYear($event)" [(ngModel)]="selectedYear">
                    <mat-option *ngFor="let year of displayedYear" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="holidayArrayData.length == 0 && yearEditable==true" style="margin:'10px 10px'">
                <app-button theme="blue-lite" size="small" type="submit" (click)="openHolidayPopup()">Add</app-button>
            </div>
        </div>

        <div *ngIf="is_emp_admin">
            <app-button *ngIf="(editMode==false) &&(holidayArrayData.length != 0 &&(yearEditable))" theme="blue-lite" size="small" type="submit" (click)="edit(true)">Edit</app-button>
            <app-button *ngIf="editMode" theme="danger" size="small" type="submit" (click)="edit(false)">Cancel</app-button>
        </div>


        <!-- <div  style="display:inline-block;margin:'10px 10px'">
            <app-button theme="blue-lite" size="small" type="submit" (click)="openHolidayPopup()">Add </app-button>
        </div> -->
        <!-- <div style="margin:'0px 10px'">
    <app-button theme="blue-lite" size="small" type="submit" (click)="getFromTemplate()">Add from template</app-button>
    </div> -->

    </div>
    <!-- <div  *ngIf="is_emp_admin" style="align-self:  flex-end;">
        <app-button *ngIf="(editMode==false) &&(holidayArrayData.length != 0)" theme="blue-lite" size="small" type="submit" (click)="edit(true)">Edit</app-button>
        <app-button *ngIf="editMode" theme="danger" size="small" type="submit" (click)="edit(false)">Cancel</app-button>
    </div> -->



    <div *ngIf="(holidayArrayData.length != 0)||(editMode==true)" style="margin-top: '20px';">
        <!-- <h3>Holidays for {{this.selectedYear}}</h3> -->
        <span></span>
        <div class="timesheet">
            <div class="timesheet__head" [ngStyle]="{'grid-template-columns':  '80px  minmax(200px, 2fr) minmax(80px, 1fr) minmax(150px, 2fr) minmax(150px, 2fr) repeat('+  ((editMode==true) ? headerLocation.length : showLocation.length)+', minmax(80px,1fr))'}">
                <div class="week">Serial No</div>
                <div *ngFor="let item of headerItems">
                    <ng-container>
                        {{item}}
                    </ng-container>

                    <!-- <div *ngIf="day == 'Total'">{{day}}</div> -->
                </div>

                <ng-template [ngIf]="!editMode">
                    <div class="location" [attr.value]="loc['id']" *ngFor="let loc of showLocation;let loc_index = index">
                        <ng-container>
                            {{loc['name']}}
                        </ng-container>
                    </div>
                </ng-template>
                <ng-template [ngIf]="editMode">
                    <div class="location" [attr.value]="loc['id']" *ngFor="let loc of headerLocation;let loc_index = index">
                        <ng-container>
                            {{loc['name']}}
                        </ng-container>
                    </div>
                </ng-template>

                <!-- <div>Total</div> -->
            </div>

            <form *ngIf="editMode" [formGroup]="holidayForm">
                <div class="timesheet__body">
                    <!-- <div class="timesheet__row" *ngFor="let holiday of HOLIDAYLIST_TESTDATA;let i=index;"> -->
                    <div formArrayName="holidays" *ngFor="let alias of holidayForm.get('holidays')['controls']; let i=index">
                        <div class="timesheet__row" [formGroup]="alias" [ngStyle]="{'grid-template-columns':  '80px minmax(200px, 2fr) minmax(80px, 1fr) minmax(150px, 2fr) minmax(150px, 2fr) repeat('+((editMode==true) ? headerLocation.length : showLocation.length) +', minmax(80px,1fr))'}">
                            <div class="project">
                                {{i+1}}
                                <div *ngIf="alias.controls.editable.value==true" [attr.data-index]='i' [svgIcon]="{url:'./assets/icons-sprite.svg#close-circle',w:25}" svg-fill="#666" class="timesheet__row-remove"></div>
                            </div>
                            <!-- <div >{{holiday.date}}</div> -->
                            <div *ngIf="alias.controls.editable.value==true">
                                <!-- <input  formControlName="date" type="text" > -->
                                <!-- <mat-form-field appearance="fill"> -->
                                <!-- [singleDatePicker]="true" -->
                                <div *ngIf="alias.controls.date.touched && ( alias.controls.date.hasError('invalidYear') || alias.controls.date.hasError('notUniqueDates') || alias.controls.date.hasError('notWeekend')  )" class="error_msg">
                                    <span *ngIf="alias.controls.date.hasError('notUniqueDates')">Selected date should be unique</span>
                                    <span *ngIf="alias.controls.date.hasError('invalidYear')">Selected date year should be {{this.selectedYear}}</span>
                                    <span *ngIf="alias.controls.date.hasError('notWeekend')">Selected date should not be weekend</span>
                                </div>
                                <input style="width:'160px';" matInput type="text" formControlName="date" ngxDaterangepickerMd #ref (datesUpdated)="getDay(i)" [minDate]="minSelectDate" [maxDate]="maxSelectDate" [locale]="{applyLabel: 'Select', format: 'DD-MM-YYYY'}" />
                                <!-- <div class="date_range_after" ></div>  -->
                                <mat-icon role="img" (click)="elClick(ref)" class="mat-icon material-icons ngx-daterangepicker-action" style="color: #3a7bca;">date_range</mat-icon>
                                <!-- <input   [matDatepicker]="picker" >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker> -->
                                <!-- </mat-form-field> -->
                                <!-- <input  formControlName="date" type="text" value="{{holiday.date}}"> -->
                            </div>
                            <div style="font-size: 12px;" *ngIf="alias.controls.editable.value==false">
                                <!-- <br> -->
                                <!-- <div *ngIf="alias.controls.count.value>1">{{alias.controls.date.value['startDate']| date: 'dd-MM-yyyy'}} - {{alias.controls.date.value['startDate'] | date: 'dd-MM-yyyy'}}</div> -->
                                <div *ngIf="alias.controls.count.value">{{alias.controls.date.value['startDate']| date: 'dd-MM-yyyy'}}

                                </div>

                            </div>
                            <div> {{alias.controls.count.value}}</div>
                            <!-- <div  *ngIf="alias.controls.editable.value==true">
                            <input size="3" formControlName="count" type="number" min="1" step="1" (change)="onCountChange(i)" [(ngModel)]="alias.controls.count.value">
                        </div>
                        <div  *ngIf="alias.controls.editable.value==false">
                            {{alias.controls.count.value}}
                        </div> -->
                            <div>{{alias.controls.day.value}}</div>

                            <div *ngIf="alias.controls.editable.value==true">
                                <!-- <input  style="width:'120px'" formControlName="des" type="text" > -->
                                <!-- <input   type="text" value="{{holiday.des}}"> -->

                                <!-- <select formControlName="des"  >
                                <option [ngValue]="hol.id" *ngFor="let hol of defaultHoliday">{{hol.holiday_name}}</option>
                            </select> -->
                                <!-- <div *ngIf=" alias.controls.des.hasError('notUnique')" class="error_msg">It should be unique</div>  -->
                                <div *ngIf=" alias.controls.des.hasError('uniqueBy')" class="error_msg">Name should be unique</div>
                                <input type="text" formControlName="des" (focus)="getHolidayOptions(i)" (focusout)="destroyHolidayOptions(i)">
                                <!-- <div *ngIf="options.length >0"  class="'searchOptions-'+(i)'" id="dynmicUserIds" [attr.data-index]='i' [ngClass]="{'searchOptions' : showOptionIndex == i,'hideSearchOptions':showOptionIndex != i}">
                                <option  class="holiday_option" [class]="'holiday_option-'+(item.id)" *ngFor="let item of options" [value]="item.id"><div class="options">{{item.holiday_name}}</div></option>
                            </div> -->
                                <!-- <ul *ngIf="options.length >0" [ngClass]="{'searchOptions' : showOptionIndex == i,'hideSearchOptions':showOptionIndex != i}">
                                <li [class.active]="inFocusMinIndex == i"  [class]="'holiday_option-'+(item.id)" class="option" *ngFor="let let item of options;let i =index;" [attr.val]="item">{{item}}</li> 
                            </ul> -->
                                <ul *ngIf="options.length >0" [attr.data-index]='i' [ngClass]="{'searchOptions' : showOptionIndex == i,'hideSearchOptions':showOptionIndex != i}">
                                    <li class="holiday_option" *ngFor="let item of options;let j =index;" [attr.value]="item.name">{{item.name}}</li>
                                </ul>
                            </div>
                            <div *ngIf="alias.controls.editable.value==false">
                                {{alias.controls.des.value}}
                            </div>

                            <!-- <div >{{holiday.des}}</div> -->

                            <div *ngFor="let loc of headerLocation">
                                <input type="checkbox" (change)="addRemoveLocation(i,loc['id'])" [checked]="ifChecked(i,loc['id'])" [disabled]="alias.controls.editable.value==false">

                            </div>


                            <!-- <div [ngClass]="{ 'applicable': holiday.hyd }">{{holiday.hyd}}</div>
                        <div [ngClass]="{ 'applicable': holiday.blr }">{{holiday.blr}}</div>
                        <div [ngClass]="{ 'applicable': holiday.delhi }">{{holiday.delhi}}</div> -->
                        </div>
                    </div>
                </div>
                <div *ngIf="editMode" class="timesheet__row timesheet--sel-project">
                    <div #selProject class="sel-project">
                        <div style="pointer-events: none;" class="flex middle-xs center-xs">
                            <div class="mr-5" [svgIcon]="{url:'./assets/icons-sprite.svg#plus-circle',w:25}" svg-fill="currentColor"></div>Add
                        </div>
                        <!-- <div class="sel-project__project-list" >
                        <div class="sel-project__project" [attr.data-project]="project?.project_id" [attr.index]="i" *ngFor="let project of hiddenActiveProjects;let i = index;">
                            {{project?.project_name}}
                        </div> 
                    </div>   -->
                    </div>
                </div>
                <br>
                <div *ngIf="editMode" style="float: right;">
                    <app-button theme="blue-lite" size="small" type="submit" (click)="submitHoliday()" [disabled]="!holidayForm.valid">Save</app-button>
                </div>
            </form>
            <div *ngIf="!editMode" class="timesheet__body">
                <!-- <div class="timesheet__row" *ngFor="let holiday of HOLIDAYLIST_TESTDATA;let i=index;"> -->
                <div *ngFor="let hol_data of holidayArrayData; let i=index">

                    <div class="timesheet__row" [ngStyle]="{'grid-template-columns':  '80px minmax(200px, 2fr) minmax(80px, 1fr) minmax(150px, 2fr) minmax(150px, 2fr) repeat('+  ((editMode==true) ? headerLocation.length : showLocation.length) +', minmax(80px,1fr))'}">
                        <div class="project">
                            {{i+1}}
                            <div *ngIf="editMode" [attr.data-index]='i' [svgIcon]="{url:'./assets/icons-sprite.svg#close-circle',w:25}" svg-fill="#666" class="timesheet__row-remove"></div>
                        </div>
                        <!-- <div >{{holiday.date}}</div> -->

                        <!-- <div  >{{hol_data.holiday_date| date: 'dd-MM-yyyy'}} -{{hol_data.holiday_date | date: 'dd-MM-yyyy'}}</div> -->
                        <div *ngIf="hol_data.holiday_count>1">{{hol_data.start_date| date: 'dd-MM-yyyy'}} - {{hol_data.end_date | date: 'dd-MM-yyyy'}}</div>
                        <div *ngIf="hol_data.holiday_count<=1">{{hol_data.start_date| date: 'dd-MM-yyyy'}}</div>
                        <!-- <div>{{hol_data.work_day_count}}</div> -->
                        <div>{{hol_data.holiday_count}}</div>
                        <div>{{(hol_data.week_day)}}</div>

                        <div>
                            {{hol_data.holiday.holiday_name}}
                        </div>
                        <!-- <div >{{holiday.des}}</div> -->

                        <!-- <div *ngFor="let loc of headerLocation">            
                        
                        <div >
                            <div *ngIf="ifChecked(hol_data.locations,loc['id'])" class="checkbox">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div> -->

                        <div *ngFor="let c of hol_data.loc_checks">
                            <div>
                                <div *ngIf="c" class="checkbox">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </div>


                        <!-- <div [ngClass]="{ 'applicable': holiday.hyd }">{{holiday.hyd}}</div>
                    <div [ngClass]="{ 'applicable': holiday.blr }">{{holiday.blr}}</div>
                    <div [ngClass]="{ 'applicable': holiday.delhi }">{{holiday.delhi}}</div> -->
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- <input type="daterange" ngxDaterangepickerMd startKey="startDate" endKey="endDate" [alwaysShowCalendars]="true" [showRangeLabelOnInput]="true" [locale]="{separator: ' To ',format: 'DD-MM-YYYY'}" [ranges]="ranges" #picker [keepCalendarOpeningWithRange]="true"
                    [maxDate]='maxDate' class="ngx-daterangepicker-action" (datesUpdated)="updateRange($event)" style="border: none;background: none;color: #3a7bca;">
                <button type="submit" class="ngx-daterangepicker-action" (click)="open($event)" style="background: none; border: none;cursor: pointer;">
            <mat-icon role="img"  class="mat-icon material-icons ngx-daterangepicker-action" style="color: #3a7bca;">date_range</mat-icon> -->

    <app-modal-popup #addHolidayDialog [w]="'30%'" [h]="'40%'">
        <div head>
            Add Holiday Option
        </div>

        <ng-container>
            <form [formGroup]="addHolidayForm">
                <!-- <mat-form-field>
                <mat-label>Select year</mat-label>
                <mat-select formControlName="year" >
                    <mat-option *ngFor="let year of displayedYear" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
                <p>Adding Holiday for {{this.selectedYear}}</p>
                <mat-form-field>
                    <mat-label>Add option</mat-label>
                    <mat-select formControlName="option">
                        <mat-option *ngFor="let opt of ['Import from template','Add manually']" [value]="opt">
                            {{opt}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div style="float: right;">
                    <app-button theme="blue-lite" size="small" type="submit" (click)="selectAddHolidayOption()">Proceed</app-button>
                </div>
            </form>
        </ng-container>
    </app-modal-popup>