<app-pre-sign-in>
  <!-- <h2 class="heading tac">Login!</h2> -->
  <form #form="ngForm" class="mt-30 fs-14" [formGroup]="fgLogin" (ngSubmit)="onSubmitLogin()">
    <div class="  middle-xs flex" matPrefix>
      <div class="mr-10" fill="inherit" [svgIcon]="{url:'./assets/icons-sprite.svg#user',w:25}"
        style="color:var(--col-accent-500);" svg-fill="currentColor"></div>
      <mat-form-field class="formField lite fs-13" style="flex-grow: 1;" color="primary">
        <mat-label>Email
        </mat-label>
        <input autocomplete="off" matInput type="email" placeholder="Enter email" formControlName="email">
        <mat-error *ngIf="fgLogin.controls.email.hasError('email')">
          Please enter a valid email
        </mat-error>
        <mat-error *ngIf="fgLogin.controls.email.hasError('required')">
          Please enter your email
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mt-15 middle-xs flex" matPrefix>
      <div class="mr-10" fill="inherit" [svgIcon]="{url:'./assets/icons-sprite.svg#key',w:25}"
        style="color:var(--col-accent-500);" svg-fill="currentColor"></div>
      <mat-form-field class="formField lite" style="flex-grow: 1;">
        <mat-label>Password
        </mat-label>
        <input autocomplete="off" matInput [attr.type]="hidePassword ? 'password' : 'text'" placeholder="Enter password"
          formControlName="password">
        <mat-error *ngIf="fgLogin.controls.password.hasError('required')">
          Please enter the password
        </mat-error>

        <div style="cursor: pointer;" matSuffix [attr.aria-label]="'Hide password'"
          (click)="hidePassword = !hidePassword">
          <div title="Show password" *ngIf="hidePassword" matPrefix fill="inherit"
            [svgIcon]="{url:'./assets/icons-sprite.svg#eye',w:25}" svg-fill="#333"></div>
          <div title="Hide password" *ngIf="!hidePassword" matPrefix fill="inherit"
            [svgIcon]="{url:'./assets/icons-sprite.svg#eye-slash',w:25}" svg-fill="#333"></div>
        </div>
      </mat-form-field>
    </div>

    <div class="flex end-xs mb-30 mt-20">
      <a style="color:var(--col-accent-500);" class="fs-12" [routerLink]="'/forgot-password'">Forgot password</a>
    </div>
    <div class="flex center-xs">
      <app-button type="submit" style="width: 100%;" theme="black">Login</app-button>
    </div>

  </form>
</app-pre-sign-in>
