.selectedTab {
    border-bottom: 2px black solid;
    background-color: red;
}

::ng-deep {
    .mat-tab-label-active {
        border-bottom: 4px var(--color-secondary) solid;
        // font-weight: 700;
    }
    // .mat-form-field-wrapper {
    //     width: 80%;
    // }
}

.container {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #F6FAFD;
    border-radius: 20px;
    margin: 0 0 10px;
    padding: 4px;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.optdion {
    // position: absolute;
    height: 39px;
    left: 553px;
    top: 626px;
    border: 3px solid #1991DF;
    border-radius: 19px;
    box-sizing: border-box;
}
.custom_checkbox{
    height: 40px; 
}

.custom_checkbox>input[type=checkbox] {
    display: none;
}

.custom_checkbox>input[type=checkbox]+label {
    display: inline-block; 
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.38;
    color: #333;
    text-align: center; 
    vertical-align: middle;
    cursor: pointer;   
    border: 2px solid var(--col-primary-400);   
    color:var(--col-primary-400);   
}

.custom_checkbox>input[type=checkbox]:checked+label {
    background-image: none;
    outline: 0; 
    border: 2px solid var(--col-primary-200);    
    color:var(--col-primary-200);   
}

.selectedBg {
    background-color: #add8e6;
}