<!-- <h2 mat-dialog-title color="accent">Confirm</h2> -->
<div class="confirm-heading">
  <span>{{data?.heading || 'Heading'}}</span>
</div>
<div>
  <div class="mt-10 mb-30"  >
      <ng-content></ng-content>
  </div>
  <div style="position: relative;top:0px;">
    <mat-dialog-actions style="margin-bottom:0px;" class="between-xs">
      <app-button tabindex="0" [mat-dialog-close]="false" cdkFocusInitial theme="grey" type="button">
        Cancel
      </app-button>
      <div class="mr-5 ml-10">
        <app-button [mat-dialog-close]="true" type="button">
          Proceed</app-button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
