:host{
    min-width: 850px;
    max-width: 1400px;
    display: block;
}
.db-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: var(--cell-gap);
    position: relative;
    
}
.db-head{
    background-color: #fff;

}
.db-head-name{
   color: var(--color-primary);
   text-decoration: underline;
}
.db-total-emp{
    min-height: 42px;
    line-height: 42px;
    border-radius: 42px;
    font-size: 18px;
    min-width: 100px;
    border: 1px solid #aaa;
    text-align: center;
    color: var(--color-primary);
    font-weight: 500;
    align-self: center;
    text-align: left;
    padding-left: 15px;
    height: auto;
}
// .mat-option{
//     border-radius: 20px;
// }
.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--color-primary);
  }
  .myInput {
    height: 50px !important;
    padding: 10px !important;
  }
  .mat-icon
  {
    font-size: 3em;
    color: #5dcbdc;
}

.download-bn:hover{
    cursor: pointer;
    text-decoration: underline;
}

