<div>
    <form #searchForm="ngForm" [formGroup]="fgSearch" (ngSubmit)="onSubmitSearch(managerCtrl.value)">
        <h2 style="color:var(--color-primary)">
            Leader Name
        </h2>
        <div class="flex" style="justify-content:space-between;">

            <!-- <mat-form-field>

                <mat-select formControlName="filtervalue" (selectionChange)="onSubmitSearch($event.value)">
                    <mat-option *ngFor="let item of filterArray" [value]="item.emp_id">
                        {{item.emp_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <div class="flex w-50">

                <mat-form-field class="w-50 mr-10">
                    <input matInput placeholder="Search" aria-label="Leader" [matAutocomplete]="auto" [formControl]="managerCtrl" [(ngModel)]="value">
                    <button style="background: none;border:none;" mat-button type='reset' matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                        <mat-icon>arrow_drop_down</mat-icon>
                      </button>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredManagers | async" [value]="state.emp_name">
                            {{state.emp_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- <p *ngIf="show" style="color: var(--color-danger);">Select Leader from list</p> -->
                <div class="flex end-xs middle-xs" style="margin-top: -25px;">
                    <app-button>Submit
                    </app-button>
                </div>
            </div>
            <!-- <div *ngIf="showMisDownload" class="fs-18 p-10 download-bn" style="color: #067bca;cursor:pointer;justify-content:space-between;" [dbdFileDownload]="{endPoint:'downloadmis/?',responseType:'blob'}">
                MIS
                <span [svgIcon]="{url:'./assets/icons-sprite.svg#download',w:15}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5 mt-3"></span>
            </div> -->
        </div>

    </form>

    <!-- <form #searchForm="ngForm" [formGroup]="fgSearch" autocomplete="off">
        <div>
            <h2 style="color:var(--color-primary)">
                Leader
            </h2>
        <div class="flex start-xs top-xs ">
          <mat-form-field >
            <mat-select formControlName="filtervalue" placeholder="Leader" (openedChange)="myInput.focus()" (selectionChange)="onSubmitSearch($event.value)">
              <input class="myInput" #myInput matInput focused="'true'" type="text" (keyup)="search($event.target.value)" autocomplete="off" >
              
              <mat-option *ngFor="let a of selectedAreas" [value]="a" >
                {{a}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </div>
      </form> -->
</div>
<div style="display: grid;grid-template-columns:repeat(4,1fr);column-gap: 20px;">
    <ng-container *ngFor="let week of weekWiseData;let i = index">
        <div class="db-head p-15" style="box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);">

            <div class="fs-20" style="color: var(--color-primary);">
                <span class="db-head-name">

                    Week {{week.work_week}} 
                </span>
                <span class="fs-14">
                    ({{week.week_start | date:'MMMM dd'}} - {{week.week_end | date:'MMMM dd'}})
                </span>

            </div>
            <div class=" mt-15 ml-10" style="display: grid;grid-template-columns: 1fr 3fr;">
                <div fill="inherit" [svgIcon]="{url:'./assets/icons-sprite.svg#user',w:50}" style="color:var(--color-tertiary);" svg-fill="currentColor"></div>
                <div class="db-total-emp">
                    {{week.emp_cnt}}
                </div>
            </div>
            <div class=" mt-15 ml-10" style="display: grid;grid-template-columns: 1fr 3fr;">
                <div fill="inherit" [svgIcon]="{url:'./assets/icons-sprite.svg#watch',w:43}" style="color:var(--color-tertiary);" svg-fill="currentColor"></div>
                <div class="db-total-emp">
                    {{week.total_hours}} H : {{week.total_mins | number :'2.'}} M
                </div>
            </div>
            <div class="mt-15 flex center-xs middle-xs">
                <div class="w-55 flex center-xs middle-xs">
                    <circle-progress [percent]="getPercentage(week.entry_comp_cnt,week.emp_cnt)" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [space]="-10" [outerStrokeColor]="'#067bca'" [innerStrokeColor]="'#e7e8ea'" [unitsFontSize]="'45'" [showSubtitle]="false"
                        [animation]="true" [animationDuration]="300" [titleFontSize]="'50'" [startFromZero]="true" [responsive]="true"></circle-progress>
                    <p class="flex center-xs middle-xs center-xs"> <span class="dot mr-5"></span> Entry NC</p>
                </div>
                <div class="w-55 flex center-xs middle-xs">
                    <circle-progress [percent]="getPercentage(week.approval_comp_cnt,week.emp_cnt)" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [space]="-10" [outerStrokeColor]="'#067bca'" [innerStrokeColor]="'#e7e8ea'" [unitsFontSize]="'45'" [showSubtitle]="false"
                        [animation]="true" [animationDuration]="300" [titleFontSize]="'50'" [startFromZero]="true" [responsive]="true"></circle-progress>
                    <p class="flex center-xs middle-xs"> <span class="dot mr-5"></span> Approval NC</p>
                </div>
            </div>
            <div style="display: grid;grid-template-columns: repeat(3,1fr);grid-column-gap: 1px;" class="mt-15">
                <div class="flex p-5 center-xs fs-18 download-bn" style="display:grid;color: #067bca;" [dbdFileDownload]="{endPoint:'downloadwst/?' + getWeeks(week.prev_week,week.emp_id),responseType:'blob'}">WTR <span [svgIcon]="{url:'./assets/icons-sprite.svg#download-new',w:20}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5"></span></div>

                <div class="flex  p-5 center-xs fs-18 download-bn" style="display:grid;color: #067bca;cursor:pointer" [dbdFileDownload]="{endPoint:'downloadwsr/?' + getWeeks(week.prev_week,week.emp_id),responseType:'blob'}">WSR <span [svgIcon]="{url:'./assets/icons-sprite.svg#download-new',w:20}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5"></span></div>

                <div class="flex p-5 center-xs fs-18 download-bn" style="display:grid;color: #067bca;cursor:pointer" [dbdFileDownload]="{endPoint:'downloadncr/?' + getWeeks(week.prev_week,week.emp_id),responseType:'blob'}">NCR <span [svgIcon]="{url:'./assets/icons-sprite.svg#download-new',w:20}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5 mt-3"></span></div>
            </div>
            <!-- <div style="display: grid;grid-template-columns: repeat(2,1fr);grid-column-gap: 10px;" class="mt-10">
                <div class="flex p-10 center-xs fs-18" style="color: #067bca;">Compliance <span
                        [svgIcon]="{url:'./assets/icons-sprite.svg#download',w:15}" style="color:var(--color-tertiary);"
                        svg-fill="currentColor" class="ml-5 mt-3"></span></div>
                 <div class="flex p-10 center-xs fs-18" style="color: #067bca;">Approval Compliance <span
                        [svgIcon]="{url:'./assets/icons-sprite.svg#download',w:15}" style="color:var(--color-tertiary);"
                        svg-fill="currentColor" class="ml-5 mt-3"></span></div> 

            </div> -->
        </div>
    </ng-container>
    <div></div>
</div>
<p class="p-15 dis-ib" style="background:#ccc;" *ngIf="weekWiseData?.length == 0">None</p>