:host {
  --height: 35px;
  min-width: 70px;
  max-width:120px;
  width:90%;
  border: 1px solid #777;
  color: #666;
  height: var(--height);
  line-height: var(--height);
  display: flex;
  position: relative;
  input {
    width: calc(100% - 40px);
    height: calc(var(--height) - 2px);
    line-height: calc(var(--height) - 2px);
    border: none;
    background: none;
    padding-left: 5px;
    -moz-appearance: textfield; 
    font-size:16px;
  }
  input[type="number"] {
    // to hide the arrows in the number fields
    -moz-appearance: textfield;
  }
  &.not-editable input{
    background: #eee;
    border: 1px solid #ddd;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  p {
    padding: 5px;
    background: red;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 10px);
    width: 300px;
    text-align: center;
    border-radius: 5px;
  }
  p:after{
    content:"";
    position: absolute;
    left: 35%;
    width:20px;
    height:15px;
    background:red;
    top:100%;
    clip-path:polygon(0px 0px, 100% 0px, 50% 100%, 0px 0px);
  }
  p.minutes{
    left:auto;
    right:0px;
    transform:none
  }
  p.minutes:after{
    left:auto;
    right:10px;
  }
  &.empty {
    border: 1px solid #ccc;
    .mins {
      .mins__active {
        pointer-events: none;
        background: #bbb;
      }
    }
  }
  &.not-editable{
    pointer-events: none;
  }
  .mins {
    height: var(--height);
    position: absolute;
    top:0px;
    width:40px;
    right: -1px;
    flex-basis: 40px; 
    .mins__active {
      width: 100%;
      height: calc(var(--height) - 1px);
      line-height: 35px;
      background: #555;
      cursor: pointer;
      color: #fff;
      padding-left: 4px;
      &:focus{
        outline:4px dashed #aaa;
      }
      svg {
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        fill: #fff;
        pointer-events: none;
      }
    }
    .mins__list {
      position: absolute;
      height: 200px;
      top: 100%;
      right: 0px;
      background: #fff;
      width: 90px;
      // border: 1px solid #666; 
      z-index: 10;
      color: #000;
      box-shadow: 0 0 2px 4px rgba(0,0,0,0.2);
      &:focus{
        
      }
      li {
        height: 50px;
        line-height: 50px;
        display: block;
        text-align: center;
        border-bottom: 1px solid #bbb;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
        &.active {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }
}
