<app-modal-popup #refModal (close)="onCloseModal($event)" [w]="'60%'" [maxH]="'90%'" h="auto">
    <div head>
        Leave Request Details
    </div>
    <div style="height: 100%;" class="pb-20">
        <div class="abs-image-zoom" *ngIf="currentImageInZoom">
            <div class="abs-image-inner">
                <img [attr.src]="currentImageInZoom" alt="">
            </div>
            <div (click)="currentImageInZoom = ''" class="close-image-zoom flex middle-xs pointer">
                <mat-icon class="small-xs ml-5 ">close</mat-icon> Close
            </div>
        </div>
        <app-strip-table [data]="data?.requestDetails"></app-strip-table>
        <ng-container *ngIf="data?.leave_type == 3">
            <ng-container *ngIf="data?.uploads_invitation.length >= 1;else refNoInvitations">
                <div class="separator"></div>
                <h2>Invitation uploads</h2>
                <div class="flex middle-xs">
                    <ng-container *ngFor="let upload of data?.uploads_invitation;">
                        <div (click)="currentImageInZoom = upload" class="pointer mr-20" [ngStyle]="{'backgroundImage':'url('+upload+')'}" style="height: 100px;width:160px;background-size:cover;"> </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #refNoInvitations>
                <div class="separator"></div>
                <h2>Invitation uploads</h2>
                <p>No invitations uploaded</p>
            </ng-template>
        </ng-container>

        <ng-container *ngIf="requestId?.get_discrepancy && data?.discrepancy_raised">
            <div class="separator"></div>
            <h2 class="mt-20">Leave Correction Details</h2>
            <app-strip-table [data]="data?.discrepancyDetails"></app-strip-table>
        </ng-container>

        <div class="separator" *ngIf="type == 'team' && historyFlag && data?.leave_type_name!='Marriage' && data?.leave_type_name!='Maternity' && data?.leave_type_name!='Paternity'"></div>
        <h1 style="margin-bottom: 0px;" *ngIf="type == 'team' && historyFlag" class="heading">Leave Insights</h1>
        <div class="mt-20" *ngIf="type == 'team' && historyFlag && data?.leave_type_name!='Marriage' && data?.leave_type_name!='Maternity' && data?.leave_type_name!='Paternity'">
            <div class="separator"></div>
            <div style="margin-bottom: 0px;" class="fs-18">Leave Balance: <b> {{data?.leave_balance}}</b></div>
            <!-- <div class="fs-18">
                {{data?.leave_balance}}
            </div> -->
            <!--  -->
            <!-- <div class="flex middle-xs mt-5 mb-20">
                <h2 style="margin-bottom: 0px;margin-top:10px;" class="flex middle-xs">Enter no of day(s)</h2>
                <div class="flex middle-xs">
                    <mat-form-field class="formField" style="max-width: 60px;margin:0px 15px -25px">
                        <input type="number" [formControl]="fcLastNDays" matInput min="1" step="1" maxlength="3">
                    </mat-form-field>
                    <app-button theme="blue-lite" size='small' (click)="onClickGetLeavesInLastNDays()">Submit</app-button>
                </div>
            </div>
            <div class="fs-18">
                Leaves consumed in last {{lastNDaysValue}} days is {{leavesInLastNDays?.leaveCount}}
            </div> -->
            <br>
            <div class="fs-18 consumed " style="display: flex;align-items: center;">
                Leaves consumed in last
                <mat-form-field class="formField" style="max-width: 60px;margin:0px 15px -25px;">
                    <input type="number" [formControl]="fcLastNDays" matInput min="1" step="1" maxlength="3">
                </mat-form-field>
                days is &nbsp;<b> {{leavesInLastNDays?.leaveCount}} </b>
                <app-button style="margin:0px 15px" theme="blue-lite" size='small' (click)="onClickGetLeavesInLastNDays()">Submit</app-button>
            </div>
        </div>
        <div class="mt-20 mb-20 " *ngIf="data?.leaves_previous && data?.leaves_previous.length > 0 && type == 'team' && historyFlag && data?.leave_type_name!='Marriage' && data?.leave_type_name!='Maternity' && data?.leave_type_name!='Paternity'">
            <div class="separator"></div>
            <span style="color:var(--color-danger)">
          This user has previously applied and used leaves from this leave type. Below are the details.
        </span>
            <ng-container *ngFor="let leave of data?.leaves_previous;let i = index;">
                <div class="bg-box pos-r" style="margin-top:50px;">
                    <div style="position: absolute;left:calc(50% - 25px);top:-30px;width:50px;height:50px;border:1px solid #666;background:white;line-height: 50px;border-radius:50%;text-align: center;font-size:20px;font-weight: bold;">
                        {{i + 1}}</div><br>
                    <app-strip-table [data]="leave?.requestDetails"></app-strip-table>
                </div>
            </ng-container>
        </div>
        <div class="pb-20"></div>
    </div>
</app-modal-popup>