<div >
    <h2 class="heading mb-20" >Add Project</h2>
    <div class="flex primary-A200 p-50" style="justify-content:center;align-items: center;">

        <div class="flex w-50 fs-14">
            <mat-form-field class="w-50 mr-30 no-pb">
                <input matInput placeholder="Add Project" aria-label="Leader" [matAutocomplete]="auto"  [formControl]="projectInputField" >
                <button style="background: none;border:none;" mat-button type='button' matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                    <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                <mat-autocomplete #auto="matAutocomplete" class="single-autocomplete" (optionSelected)='optionSelectChange($event.option.value)'>
                    <mat-option *ngFor="let project of filterAllActiveInactiveProject" [value]="project.name">
                        {{project.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="flex end-xs middle-xs"  >
                <app-button [disabled]="isDisabledSave" size="small" (click)=saveProject() >Add
                </app-button>
            </div>
    </div>
</div>