<!-- <h2 mat-dialog-title color="accent">Confirm</h2> -->
<div class="confirm-heading ">
  <span *ngIf="!data?.onlyForAlert">Confirm</span>
  <span *ngIf="data?.onlyForAlert">Alert</span>
</div>
<div  >
  <div class="mt-10 mb-30" >
    <span class="fs-12 fw-300 col-primary-100">
      {{ data?.confirmMessage || 'Are you sure you want to continue ?' }}
    </span>
    <div class="mt-20" *ngIf="data?.showTextbox">
      <textarea matInput [formControl]="fcText" rows="4"
        placeholder="{{data?.placeholderTextField || 'Enter comments'}}"></textarea>
    </div>
  </div>
  <div style="position: relative;top:0px;">
    <mat-dialog-actions style="margin-bottom:0px;" class="between-xs">
      <app-button tabindex="0" [mat-dialog-close]="false" cdkFocusInitial size='small' theme="grey" type="button">
        Cancel
      </app-button>
      <div class="mr-5 ml-10" *ngIf="!data?.onlyForAlert">
        <app-button [mat-dialog-close]="data?.showTextbox ? {text:fcText.value}: true" size='small' theme="blue-lite"
          type="button">Proceed</app-button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
