<!-- <a class="change-password flex middle-xs  mr-20 fs-18" href="javascript:;">
    <div class="mr-5" style="color:var(--color-tertiary)" svg-fill="currentColor"></div>
    Change Password
</a> -->
<!-- (click)="onClickChnagePassword()" -->

<app-header-search class="mr-50" *ngIf="leaveFlag == true"></app-header-search>
<div class="common-grid"
  [ngClass]="{'l0-grid': (role_id == 1 || role_id == 2) && leaveFlag, 'l2-l3-grid' : (role_id == 3 || (role_id == 4 && !this.is_admin)) && leaveFlag, 'hr-grid': this.is_admin && leaveFlag }">
  <div class="compliances" *ngIf="leaveFlag == true">

    <div class="compliances__item" *ngFor="let com of compliances">
      <svg width="26" height="26">
        <defs>
          <linearGradient id="red-compliance" gradientTransform="rotate(45)">
            <stop offset="0%" [attr.stop-color]="'var(--col-warn-500)'" />
            <stop offset="100%" [attr.stop-color]="'var(--col-warn-A400)'" />
          </linearGradient>
          <linearGradient id="green-compliance" gradientTransform="rotate(45)">
            <stop offset="0%" [attr.stop-color]="'var(--col-accent-400)'" />
            <stop offset="100%" [attr.stop-color]="'var(--col-accent-A400)'" />
          </linearGradient>
        </defs>
        <circle *ngIf="com.cnt==0 && com.valid" r="11" cx="13" cy="13" fill="none" stroke="url('#green-compliance')"
          stroke-width="3"></circle>
        <circle *ngIf="com.cnt==1 && com.valid" r="11" cx="13" cy="13" fill="none" stroke="url('#red-compliance')"
          stroke-width="3"></circle>
      </svg>
      <span *ngIf="com.valid"  >{{com.week}}</span>
    </div>

  </div>
  <div  *ngIf="showEmailToggle && leaveFlag == true" class="flex col p-10 center-xs middle-xs ml-15 mr-15">
    <span class="fs-13">Emails</span>
    <mat-slide-toggle (change)="onEmailToggle($event)" [(ngModel)]="isEmailEnabled">
    </mat-slide-toggle>
  </div>

  <div style="display: flex;padding: 10px;" *ngIf="isHr && leaveFlag == true">
    <!-- <div class="flex p-5 center-xs fs-18 download-bn" style="color: #067bca;cursor:pointer;" [dbdFileDownload]="{endPoint:'downloadmis/?',responseType:'blob'}">MIS <span [svgIcon]="{url:'./assets/icons-sprite.svg#download-new',w:15}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5 mt-3"></span></div> -->
  </div>
  <app-button theme="red" (click)="logout()" class="mr-20   " href="javascript:;">
    Logout
  </app-button>
</div>



<app-modal-popup #refModalChangePassword [w]="600" [h]="430">
  <div head>
    Change Password
  </div>
  <form #changePasswordForm="ngForm" [formGroup]="fgChangePassword"
    (ngSubmit)="onModalChangePasswordSubmit(fgChangePassword.value)">
    <mat-form-field class="formField lite">
      <mat-label>Current Password <sup>*</sup></mat-label>
      <input (change)="onChangeInput()" matInput [attr.type]="hide.currentpassword ? 'password' : 'text'"
        placeholder="Password" formControlName="currentpassword">
      <mat-error *ngIf="fgChangePassword.controls.currentpassword.hasError('required')">
        Enter password
      </mat-error>
      <div style="cursor: pointer;" mat-icon-button matSuffix (click)="hide.currentpassword = !hide.currentpassword"
        [attr.aria-label]="'Hide password'">
        <div title="Show password" *ngIf="hide.currentpassword; " matPrefix fill="inherit"
          [svgIcon]="{url:'./assets/icons-sprite.svg#eye',w:30}" svg-fill="#333"></div>
        <div title="Hide password" *ngIf="!hide.currentpassword" matPrefix fill="inherit"
          [svgIcon]="{url:'./assets/icons-sprite.svg#eye-slash',w:30}" svg-fill="#333"></div>
      </div>
    </mat-form-field>
    <mat-form-field class="formField lite">
      <mat-label>New Password <sup>*</sup></mat-label>
      <input (change)="onChangeInput()" matInput [attr.type]="hide.newPassword ? 'password' : 'text'"
        placeholder="New Password" formControlName="newPassword">
      <mat-error *ngIf="fgChangePassword.controls.newPassword.hasError('required')">
        Enter New Password
      </mat-error>
      <div style="cursor: pointer;" mat-icon-button matSuffix (click)="hide.password = !hide.password"
        [attr.aria-label]="'Hide password'">
        <div title="Show password" *ngIf="hide.password; " matPrefix fill="inherit"
          [svgIcon]="{url:'./assets/icons-sprite.svg#eye',w:30}" svg-fill="#333"></div>
        <div title="Hide password" *ngIf="!hide.password" matPrefix fill="inherit"
          [svgIcon]="{url:'./assets/icons-sprite.svg#eye-slash',w:30}" svg-fill="#333"></div>
      </div>
    </mat-form-field>
    <mat-form-field class="formField lite">
      <mat-label>Re Enter New Password <sup>*</sup></mat-label>
      <input (change)="onChangeInput()" matInput [attr.type]="hide.retypeNewPassword ? 'password' : 'text'"
        placeholder="Re enter password" formControlName="retypeNewPassword">
      <mat-error *ngIf="fgChangePassword.controls.retypeNewPassword.hasError('required')">
        Re Enter New Password
      </mat-error>
      <mat-error
        *ngIf="fgChangePassword.controls.newPassword.hasError('notMatching') || fgChangePassword.controls.retypeNewPassword.hasError('notMatching')">
        Password is not matching with the above password
      </mat-error>
      <div style="cursor: pointer;" matSuffix [attr.aria-label]="'Hide password'"
        (click)="hide.retypeNewPassword = !hide.retypeNewPassword">
        <div title="Show password" *ngIf="hide.retypePassword" matPrefix fill="inherit"
          [svgIcon]="{url:'./assets/icons-sprite.svg#eye',w:30}" svg-fill="#333"></div>
        <div title="Hide password" *ngIf="!hide.retypePassword" matPrefix fill="inherit"
          [svgIcon]="{url:'./assets/icons-sprite.svg#eye-slash',w:30}" svg-fill="#333"></div>
      </div>
    </mat-form-field>
    <app-button>Submit</app-button>
  </form>
</app-modal-popup>
