<app-pre-sign-in>
    <h2 class="heading tac">Forgot Password!</h2>
    <form class="mt-30" #form="ngForm" [formGroup]="fgForgotPassword" (ngSubmit)="onSubmit($event)">
        <mat-form-field class="formField lite">
            <mat-label>Email <sup>*</sup>
            </mat-label>
            <input autocomplete="off" matInput type="email" placeholder="Enter email" formControlName="email">
            <div class="center-xs middle-xs flex" matPrefix
                 >
                <div fill="inherit" [svgIcon]="{url:'./assets/icons-sprite.svg#user',w:35}" style="color:var(--color-tertiary);" svg-fill="currentColor"></div>
            </div>
            <mat-error *ngIf="fgForgotPassword.controls.email.hasError('email')">
                Please enter a valid email
            </mat-error>
            <mat-error *ngIf="fgForgotPassword.controls.email.hasError('required')">
                Please enter your email
            </mat-error>
        </mat-form-field>
        <div class="flex center-xs">
            <app-button theme="black">Submit</app-button>
        </div>
    </form>
</app-pre-sign-in>