<app-pre-sign-in>
  <h2 class="tac heading" *ngIf="!showSuccessMessage">Forgot Password!</h2>
  <h2 class="tac heading-1" *ngIf="showSuccessMessage">Successfully sent</h2>
  <form *ngIf="!showSuccessMessage" class="mt-30" #form="ngForm" [formGroup]="fgForgotPassword"
    (ngSubmit)="onSubmit($event)">
    <div class=" middle-xs flex fs-14">
      <div class="col-accent-500 mr-10" fill="inherit" [svgIcon]="{url:'./assets/icons-sprite.svg#user',w:25}"
        style="color:var(--col-accent-500);" svg-fill="currentColor"></div>
      <mat-form-field class="formField lite fg-1 fs-14">
        <mat-label>Email
        </mat-label>
        <input autocomplete="off" matInput type="email" placeholder="Enter email" formControlName="email">
        <mat-error *ngIf="fgForgotPassword.controls.email.hasError('email')">
          Please enter a valid email
        </mat-error>
        <mat-error *ngIf="fgForgotPassword.controls.email.hasError('required')">
          Please enter your email
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex middle-xs fs-12 col-primary-400 mt-20 pb-20">
      <mat-icon class="mat-icon-small mr-5">info</mat-icon>
      <span>Reset link will be sent to the above mail address </span>
    </div>
    <div class="flex center-xs mt-20">
      <app-button id="go-back" [routerLink]="['/login']" class="mr-15" theme="grey">Go Back</app-button>
      <app-button id="submit">Send</app-button>
    </div>
  </form>
  <div *ngIf="showSuccessMessage" class="flex center-xs mt-50">
    <mat-icon class="col-accent-500 fs-50" style="height:50px;height:50px;">mark_email_read</mat-icon>
  </div>
  <div *ngIf="showSuccessMessage" class="flex center-xs fs-12 col-primary-400 mt-20 mb-60 pb-5">Please check your mail to reset password with the link</div>
</app-pre-sign-in>
