.presignin {
  display: grid;
  grid-template-columns: 1fr minmax(500px, 600px) 100px;
  min-height: 100vh;
  background: var(--col-primary-A100);

  .presignin__form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--col-primary-A100);

    >div {
      padding: 50px;
      border-radius: 25px;
      width: 100%;
      max-width: 450px;
      border: 1px solid var(--col-primary-500);
      background-image: radial-gradient(130% 100% at 0% 0%, var(--col-primary-500), var(--col-primary-900) 100%);
      box-shadow: inset 0px -75px 60px rgb(0 0 0 / 22%);

    }
  }

  .presignin__logo {
    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      max-width: 70%;
      max-height: 50%;
    }
  }

  .presignin__bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}
