<div class="emp-profile">
  <div class="emp-profile__close"> 
      <div class="col-primary-200" (click)="onClickClose()" svg-fill="none" [svgIcon]="{url:'./assets/icons-sprite-new.svg#circle-close-red',w:30}"></div>
  </div>
  <div class="emp-profile__head ">
    <div class="emp-profile__photo">
      <div>
        <img src="/assets/images/avatar-profile.png" alt="">
      </div>
    </div>
    <div class="emp-profile__name">
      <h2 class="col-primary-50 fw-500">{{data?.emp_name}}</h2>
      <div class="fs-13 col-secondary-text-primary-500 mb-10">
        <!-- On leave 13/01/2022 -->&nbsp;
      </div>
    </div>
  </div>
  <div class="emp-profile__body primary-900">
    <div class="emp-profile__details mt-20">
      <div>
        <span class="pale-text">ID no</span>
        <div>{{data?.emp_details?.staff_no}}</div>
      </div>
      <div>
        <span class="pale-text">Email</span>
        <div class="flex middle-xs">
          <p style=" max-width: 300px;  word-break: break-all;">{{data?.emp_details?.email}}</p>
          <div class="pos-r">
            <div svg-fill="currentColor" [svgIcon]="{url:'./assets/icons-sprite-new.svg#copy',w:20}" class="ml-10 col-primary-200   pointer" (cdkCopyToClipboardCopied)="onCopy()"
              [cdkCopyToClipboard]="data?.emp_details?.email"></div>
            <p style="position: absolute;left: -15px; top: -20px;width: 100px;" *ngIf="showToolTip" class="fs-10">Email
              Copied</p>
          </div>
        </div>
      </div>
    </div>
    <div class="emp-profile__hierarchy mt-40 pb-30">
      <div class="emp-profile__single mb-20">
        <div class="pale-text">Reporting Manager</div>
        <div>{{data?.emp_details?.reporting_manager}}</div>
      </div>
      <div class="emp-profile__single mb-20">
        <div class="pale-text">Manager's Manager</div>
        <div>{{data?.emp_details?.managers_manager}}</div>
      </div>
      <div class="emp-profile__single mb-20">
        <div class="pale-text">Functional Owner</div>
        <div>{{data?.emp_details?.functional_manager}}</div>
      </div>
    </div>
  </div>
</div>
