:host {
  display: grid;
  grid-template-rows: minmax(250px, 300px) 1fr;

  .user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    .user__pic {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #666666;
    }

    .user__name {
      color: var(--color-secondary);
      font-size: 14px;
    }

    .user__menu-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      height: 30px;
      display: block;
      line-height: 30px;
      text-decoration: none;
      font-size: 20px;
    }
  }

  nav {
    .menu {
        font-size: 14px;
      a,
      span {
        color: inherit;
        display: block;
        position: relative;
      }

      >li {
        margin: 0px 0 10px;
        color: var(--col-primary-100);

        >a,
        >span {
          padding: 15px 0 15px 40px;
          display: block;

          &:not(.active) {
            &:before {
              width: 10px;
              height: 100%;
              content: "";
              background: linear-gradient(to right, var(--col-primary-400), var(--col-primary-900));
              position: absolute;
              left: 0;
              top: 0px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
          &.active{
            background:linear-gradient(to right, var(--col-primary-400), var(--col-primary-900));
            color:var(--on-primary-400);
              
          }
        }

        >ul {
          color: var(--col-primary-400); 
          font-size: 13px;

          li {

            >a,
            >span {
              padding: 10px 0 10px 60px;
              &.active{
                background:linear-gradient(to right, var(--col-primary-400), var(--col-primary-900));
                color:var(--on-primary-400);
              }
            }
          }
        }
      }
    }
  }
}

.menu__red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-right: 5px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}





/*----------------sidebar-wrapper----------------*/

.sidebar__wrapper {
  width: 230px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: var(--col-primary-900);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}




/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}


/*----------------------sidebar-menu-------------------------*/

.sidebar__wrapper .sidebar-menu {
  padding-bottom: 10px;
}


/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--col-primary-600);
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--col-primary-500);
}

::-webkit-scrollbar-thumb:active {
  background: var(--col-primary-500);
}

::-webkit-scrollbar-track {
  background: var(--col-primary-900);
  border: 0px none #ffffff;
  border-radius: 50px;
}
 
 

::-webkit-scrollbar-corner {
  background: transparent;
}
