/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/reset";
@import "./assets/scss/flex";


@import "./assets/scss/typography";
@import "./assets/scss/margin-paddings";
@import "./assets/scss/classes";
@import "./assets/scss/css-variables";
@import "./assets/scss/use-mixins";


.mat-icon {
  &.mat-icon-small {
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
}
