/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/reset";
@import "./assets/scss/flex";
@import "./assets/scss/flex-align";


@import "./assets/scss/typography";
@import "./assets/scss/classes";
@import "./assets/scss/css-variables";
@import "./assets/scss/use-mixins";

body {
  --padding-sides: 6.25%;
}

* {
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
  ;
}

img {
  max-width: 100%;
}
 

.btn-outline {
  cursor: pointer;
  border: 1px solid var(--col-primary-100);
  border-radius: 15px;
  font-size: 10px;
  padding: 5px 5px;
}

/* text area box styles */
.textarea-black {
  background-color: var(--col-primary-A200);
  width: 100%;
  border: none;
  border-radius: 10px;
  min-height: 125px;
  padding: 20px 10px;
  color: var(--col-primary-100);
}

.textarea-border {
  background: none;
  border: 1px solid var(--col-primary-400);
  min-height: 125px;
  border-radius: 10px;
  padding: 15px;
  color: var(--col-primary-100);
}

/* in apply leave pop  up the tabs content need not be shown */
.apply-leave {
  .mat-tab-body-wrapper {
    display: none;
  }

  .mat-tab-header {
    border-bottom: none;
  }

  .mat-tab-group.mat-accent .mat-ink-bar,
  .mat-tab-nav-bar.mat-accent .mat-ink-bar {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--col-accent-700) 29%, var(--col-accent-500) 31%, var(--col-accent-300) 50%, var(--col-accent-500) 70%, var(--col-accent-700) 72%, rgba(0, 0, 0, 0) 100%);

  }

  .mat-ink-bar {
    height: 3px;
  }

  .mat-tab-label {
    flex-grow: 1;
  }

  .slide-anim {
    height: 0px;
    overflow: hidden;
  }

}


.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: var(--col-primary-200);
  padding: 3px 8px;
  background: linear-gradient(to bottom, var(--col-primary-500),var(--col-primary-600));
  border-radius: 4px;
  z-index: 1000;
  opacity: 0; 
  width: 150px;
}

.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}

.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: var(--col-primary-500) transparent transparent transparent;
}

.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent var(--col-primary-500) transparent;
}

.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent var(--col-primary-500);
}

.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent var(--col-primary-500) transparent transparent;
}

.ng-tooltip-show {
  opacity: 1;
}


::placeholder {
  font-size: 12px;
}

input::placeholder {
  font-size: 12px;
}

/*------scroll bar (Chrome)---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;

  position: relative;
  right: -20px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--col-primary-600);
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--col-primary-500);
}

::-webkit-scrollbar-thumb:active {
  background: var(--col-primary-500);
}

::-webkit-scrollbar-track {
  background: var(--col-primary-900);
  border: 0px none #ffffff;
  border-radius: 50px;

}



::-webkit-scrollbar-corner {
  background: transparent;
}
