/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/reset";
@import "./assets/scss/flex";


@import "./assets/scss/typography";
@import "./assets/scss/margin-paddings";
@import "./assets/scss/classes";
@import "./assets/scss/css-variables";
@import "./assets/scss/use-mixins";

body {
  --padding-sides: 6.25%;
}

img {
  max-width: 100%;
}

.mat-icon {
  &.mat-icon-small {
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
}

.btn-outline {
  cursor: pointer;
  border: 1px solid var(--col-primary-100);
  border-radius: 15px;
  font-size: 10px;
  padding: 5px 5px;
}

/* text area box styles */
.textarea-black {
  background-color: var(--col-primary-A200);
  width: 100%;
  border: none;
  border-radius: 10px;
  min-height: 125px;
  padding: 20px 10px;
  color: var(--col-primary-100);
}

.textarea-border {
  background: none;
  border: 1px solid var(--col-primary-400);
  min-height: 125px;
  border-radius: 10px;
  padding: 15px;
  color: var(--col-primary-100);
}

/* in apply leave pop  up the tabs content need not be shown */
.apply-leave {
  .mat-tab-body-wrapper {
    display: none;
  }

  .mat-tab-header {
    border-bottom: none;
  }

  .mat-tab-group.mat-accent .mat-ink-bar,
  .mat-tab-nav-bar.mat-accent .mat-ink-bar {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--col-accent-700) 29%, var(--col-accent-500) 31%, var(--col-accent-300) 50%, var(--col-accent-500) 70%, var(--col-accent-700) 72%, rgba(0, 0, 0, 0) 100%);

  }

  .mat-ink-bar {
    height: 3px;
  }

  .mat-tab-label {
    flex-grow: 1;
  }

  .slide-anim {
    height: 0px;
    overflow: hidden;
  }

}



/*------scroll bar (Chrome)---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--col-primary-600);
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--col-primary-500);
}

::-webkit-scrollbar-thumb:active {
  background: var(--col-primary-500);
}

::-webkit-scrollbar-track {
  background: var(--col-primary-900);
  border: 0px none #ffffff;
  border-radius: 50px;
}



::-webkit-scrollbar-corner {
  background: transparent;
}
