@use '@angular/material'as mat;
@import './assets/scss/ng-palette';

@include mat.core();

// dark theme
$dark-primary : mat.define-palette($md-primary);
$dark-accent : mat.define-palette($md-accent);
$dark-warn : mat.define-palette($md-warn);
$dark-theme : mat.define-dark-theme((color:(primary:$dark-primary,
      accent:$dark-accent,
      warn:$dark-warn)));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($dark-theme);

@include mat.button-theme($dark-theme);

@include mat.all-component-themes($dark-theme);


body {
  color: #fff;
}


// for material-table header font size, font color and font weight
.mat-header-cell{
  font-size: 14px;
  font-weight: 700;
  color:var(--col-primary-200) !important;
}


// for small gapping between material-table header and table body
.mat-table thead:after{
  content:"";
  display:block;
  width: 1300% !important;
  height:9px;
  position:sticky !important;
  bottom:0 !important;
}

//font size in material-table body
.mat-cell, .mat-footer-cell{
  font-size: 13px;
}

//to make the header row stiky in material table
.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 100 !important;
  height:61px !important;

  }

//adding class for material-table header background-Color
.header-gradient{
    background: linear-gradient(170.84deg, var(--col-primary-500) -49.76%, var(--col-primary-900) 190.96%);
    
}

//Adding color for material-table body background-Color
.mat-table tbody{
  background-color:var(--col-primary-A200);
}

//hover effect on material-table row
tr.mat-row:hover{
  cursor:pointer;
  box-shadow: 0px 0px 1px -1px rgb(136 136 136 / 50%), 0px 1.5px 10px 1px rgb(136 136 136 / 22%);
  transform: scale(1);
}

//Increasing the height of material table body row
  .mat-row{
    height:52px !important;
  }

//reset the bottom border and text alignment in material-table cells
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border-bottom-width: 0px !important;
  vertical-align:middle !important;
  text-align: center !important;
}

// th.mat-header-cell,td.mat-cell{
//   text-align: center !important;
// }

//giving border radious to left side of first header cell
th.mat-header-cell:first-of-type{
  border-radius: 10px 0 0 10px;

}
// removing left padding from first column
th.mat-header-cell:first-of-type,td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding-left:0px !important;
}

//giving border radious to right side of last header cell
th.mat-header-cell:last-of-type{
  border-radius: 0 10px 10px 0;
}

/* Material theme styling */
.mat-form-field-appearance-legacy {
  .mat-form-field-label {
    color: var(--col-primary-300);
  }
}
.mat-table{
  background:none;
}
.mat-form-field {
  color: #fff;

  &.mat-focused {
    .mat-form-field-ripple {
      background-color: var(--col-accent-500);
    }

    .mat-form-field-label {
      color: var(--col-accent-500);
    }
  }
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
  background: none;
  box-shadow: none;
}

// overlay for mat dialog 
.cdk-overlay-darker-backdrop, .cdk-overlay-dark-backdrop{
  background:rgba(0,0,0,0.52);
}