.export {
    margin-top: 20px;
    color: #3a7bca;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.export:hover {
    text-decoration: underline;
}

.dateinput {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    padding: 15px 15px 15px 10px;
    background: none;
    height: 60px;
    border-radius: 20px;
    align-items: center;
    border: 1px solid #666;
}

.weekend_class {
    background-color: lightgray;
}

.holiday {
    background-color: lightblue;
}

.holiday_class {
    color: red;
}

.vacation_class {
    color: #ded23b;
}

.project_class {
    color: green;
}

.export_icon {
    // padding-top: 20px;
    align-items: baseline;
    padding-top: 6px;
}