<div>
    <form #searchForm="ngForm" [formGroup]="fgSearch" (ngSubmit)="onSubmitSearch(managerCtrl.value)">
        <h2 class="col--accent-500 fs-24">
            Transfer Employee
        </h2>
        <div class="flex" style="justify-content:space-between;">

            <div class="flex w-50">

                <mat-form-field class="w-50 mr-10">
                    <input matInput placeholder="Search" aria-label="Leader" [matAutocomplete]="auto" [formControl]="managerCtrl" [(ngModel)]="value">
                    <button style="background: none;border:none;" mat-button type='reset' matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                        <mat-icon>arrow_drop_down</mat-icon>
                      </button>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredManagers | async" [value]="state.emp_name">
                            {{state.emp_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- <p *ngIf="show" style="color: var(--color-danger);">Select Leader from list</p> -->
                <div class="flex end-xs middle-xs" style="margin-top: -25px;">
                    <app-button>Submit
                    </app-button>
                </div>
            </div>
            <!-- <div class="flex p-5 center-xs fs-18 download-bn" style="color: #067bca;cursor:pointer;" [dbdFileDownload]="{endPoint:'downloadmis/?',responseType:'blob'}">MIS <span [svgIcon]="{url:'./assets/icons-sprite.svg#download',w:15}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5 mt-3"></span></div> -->
        </div>

    </form>
</div>
<!-- <div mat-dialog-actions class="flex" style="justify-content:space-between">
    <div style="display: inline-block;"> -->
<!-- <div *ngIf="is_emp_admin" style="display: inline-block;" >
            <app-button size='small' theme="blue-lite" (click)="openAddUserDialog()">Add new User</app-button>
        </div> -->
<!-- <div style="display: inline-block;padding: 10px;">
            <app-button size='small' theme="blue-lite" (click)="getAllReportes()">View User</app-button>
        </div> -->
<!-- <form #searchForm="ngForm" [formGroup]="fgSearch" (ngSubmit)="onSubmitSearch(managerCtrl.value)">
           
            <div class="flex" style="justify-content:space-between;">
                <div class="flex w-100">
    
                    <mat-form-field class="w-60 mr-10">
                        <input matInput placeholder="Search" aria-label="Leader" [matAutocomplete]="auto" [formControl]="managerCtrl" [(ngModel)]="value">
                        <button style="background: none;border:none;" mat-button type='reset' matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                            <mat-icon>arrow_drop_down</mat-icon>
                          </button>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let state of filteredManagers | async" [value]="state.emp_name">
                                {{state.emp_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    
                    <div class="flex end-xs middle-xs" style="margin-top: -25px;">
                        <app-button>Submit
                        </app-button>
                    </div>
                </div>
            </div>
    
        </form> -->
<!-- <div class="flex w-100">

            <mat-form-field class="w-50 mr-10">
                <input matInput placeholder="Search" aria-label="Leader" [matAutocomplete]="auto" [formControl]="managerCtrl" [(ngModel)]="value">
                <button style="background: none;border:none;" mat-button type='reset' matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                    <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let state of filteredManagers | async" [value]="state.emp_name">
                        {{state.emp_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="flex end-xs middle-xs" style="margin-top: -25px;">
                <app-button>Submit
                </app-button>
            </div>
        </div> -->
<!-- <div *ngIf="is_emp_admin" style="display: inline-block;padding: 10px;">
            <app-button size='small' theme="blue-lite" (click)="openLeavePopup()">Import/Export Leaves</app-button>
        </div> -->

<!-- </div>
    <div style="display: flex;padding: 10px;">


        <div style="display: inline-block;padding-left: 10px;">
            <app-button size='small' theme="blue-lite" (click)="openMisPopup()">Import/Export MIS</app-button>
        </div> 

        <div class="flex p-5 center-xs fs-18 download-bn" style="color: #067bca;cursor:pointer;" [dbdFileDownload]="{endPoint:'downloadmis/?',responseType:'blob'}">MIS <span [svgIcon]="{url:'./assets/icons-sprite.svg#download',w:15}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5 mt-3"></span></div>
    </div>
</div> -->



<table mat-table [dataSource]="USERS_DATA" *ngIf="USERS_DATA.length!=0" class="mat-elevation-z8 w-100">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.emp_name}} </td>
    </ng-container>

    <ng-container matColumnDef="staff_no">
        <th mat-header-cell *matHeaderCellDef>Staff No. </th>
        <td mat-cell *matCellDef="let element"> {{element.staff_no}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element;let i = index">
            <button style=" border: none; outline: none;margin: 5px;" (click)=openEditDialog(i)><span class="material-icons">
            edit
            </span></button>
            <button style=" border: none; outline: none;margin: 5px;" (click)=openDeleteDialog()><span class="material-icons">
                delete
                </span>
            </button>
        </td>
    </ng-container> -->

    <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Group </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>

    <ng-container matColumnDef="reporting_manager">
        <th mat-header-cell *matHeaderCellDef>Reporting Manager</th>


        <td mat-cell *matCellDef="let element">

            <!-- <div style="display:inline;" *ngIf="element?.staged_managers['1'] !== undefined" class='fc_blue' tooltip="Current Manager: {{element?.managers['1']['emp_name']}}" placement="bottom">{{element.staged_managers['1']['emp_name']}}</div> -->
            <!-- <div style="display:inline;" *ngIf="element.staged_managers['1'] === undefined">{{element.managers['1']['emp_name']}}</div> -->
            <div style="display:inline;">{{element.managers['1']['emp_name']}}</div>

        </td>
    </ng-container>

    <ng-container matColumnDef="managers_manager">
        <th mat-header-cell *matHeaderCellDef>Manager's Manager</th>
        <td mat-cell *matCellDef="let element">

            <!-- <div style="display:inline;" *ngIf="element.staged_managers['2'] !== undefined" class='fc_blue' tooltip="Current Manager: {{element.managers['2']['emp_name']}}" placement="bottom">{{element.staged_managers['2']['emp_name']}}</div>
            <div style="display:inline;" *ngIf="element.staged_managers['2'] === undefined">{{element.managers['2']['emp_name']}}</div> -->
            <div style="display:inline;">{{element.managers['2']['emp_name']}}</div>
        </td>
    </ng-container>

    <ng-container matColumnDef="functional_manager">
        <th mat-header-cell  *matHeaderCellDef>Functional Owner</th>
        <td mat-cell *matCellDef="let element">
            <!-- <div style="display:inline;" *ngIf="element.staged_managers['3'] !== undefined" class='fc_blue' tooltip="Current Manager: {{element.managers['3']['emp_name']}}" placement="bottom">{{element.staged_managers['3']['emp_name']}}</div>
            <div style="display:inline;" *ngIf="element.staged_managers['3'] === undefined">{{element.managers['3']['emp_name']}}</div> -->
            <div style="display:inline;">{{element.managers['3']['emp_name']}}</div>
        </td>
    </ng-container>



    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let element;let i = index">
            <button type="button" style="border: none;background-color: #f6fafd;" (click)="editManagers(i)"><span class="material-icons">
                mode_edit
                </span></button>
        </td>
    </ng-container>

    <tr mat-header-row class="header-gradient" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngIf="USERS_DATA.length==0 && showMessage==true" style="padding-left:20px">
    NO DATA AVAILABLE
</div>



<app-modal-popup #addUserDialog [idd]="'addusermodel'" [closeModel]="false" (close)="addUserOutputData($event)" [w]="'720px'" [h]="'650px'">
    <div head>
        Add User
    </div>

    <ng-container>
        <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
            <div>
                <div class="grid-container">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" [(ngModel)]='newUserFirstName'>
                        <mat-error *ngIf=" addUserForm.controls.firstName.touched && addUserForm.controls.firstName.hasError('required')">
                            Please enter firstName
                        </mat-error>
                    </mat-form-field>




                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" [(ngModel)]='newUserLastName'>
                        <mat-error *ngIf="addUserForm.controls.lastName.touched && addUserForm.controls.lastName.hasError('required')">
                            Please enter lastName
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Staff No.</mat-label>
                        <input matInput formControlName="staff_no">
                        <mat-error *ngIf="addUserForm.controls.staff_no.touched && addUserForm.controls.staff_no.hasError('required')">
                            Please enter Staff No.
                        </mat-error>
                        <mat-error *ngIf="addUserForm.controls.staff_no.touched && addUserForm.controls.staff_no.hasError('is_duplicated')">
                            Entered Staff No. already exists
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                        <mat-error *ngIf="addUserForm.controls.email.touched && addUserForm.controls.email.hasError('required')">
                            Please enter Email
                        </mat-error>
                        <mat-error *ngIf="addUserForm.controls.email.touched && addUserForm.controls.email.hasError('email')">
                            Please enter valid Email
                        </mat-error>
                        <mat-error *ngIf="addUserForm.controls.email.touched && addUserForm.controls.email.hasError('is_duplicated')">
                            Entered Email already exists
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Group</mat-label>
                        <mat-select formControlName="company">
                            <mat-option [value]="grp" *ngFor="let grp of GROUPS_DATA">{{grp}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="addUserForm.controls.company.touched && addUserForm.controls.company.hasError('required')">
                            Please select Group
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option [value]="gender['id']" *ngFor="let gender of ALL_GENDERS">{{gender['name']}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="addUserForm.controls.gender.touched && addUserForm.controls.gender.hasError('required')">
                            Please select Gender
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option [value]="category['id']" *ngFor="let category of ALL_CATEGORIES">{{category['name']}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="addUserForm.controls.category.touched && addUserForm.controls.category.hasError('required')">
                            Please select Category
                        </mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field>
                        <mat-label>Marital Status</mat-label>
                        <mat-select formControlName="is_married" (selectionChange)="onMaritalStatusChange()">
                            <mat-option [value]="m_status['value']" *ngFor="let m_status of MARITAL_STATUS">{{m_status['name']}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="addUserForm.controls.is_married.touched && addUserForm.controls.is_married.hasError('required')">
                            Please select Marital Status
                        </mat-error>
                    </mat-form-field> -->

                    <!-- <mat-form-field >
                        <mat-label>Parental leave taken</mat-label>
                        <mat-select formControlName="patentry_maternity_cnt" [disabled]="addUserForm.controls.is_married.value!=true">
                            <mat-option [value]=0 >0</mat-option>
                            <mat-option [value]=1 >1</mat-option>
                            <mat-option [value]=2 >2</mat-option>
                           
                        </mat-select>
                        <mat-error *ngIf="addUserForm.controls.patentry_maternity_cnt.touched && addUserForm.controls.patentry_maternity_cnt.hasError('required')">
                            Please select Parental leave taken
                        </mat-error>
                    </mat-form-field> -->



                    <mat-form-field class="custompicker">
                        <mat-label>Date of joining</mat-label>
                        <!-- <input matInput type="text" ngxDaterangepickerMd [locale]="{separator: ' To ',format: 'YYYY-MM-DD'}" #picker [singleDatePicker]="true" class="ngx-daterangepicker-action" [showRangeLabelOnInput]="false" style="border: none;background: none;color: #3a7bca;"
                            formControlName="doj" [closeOnAutoApply]="true" [autoApply]="true" readonly> -->
                        <!-- <button type="button" class="ngx-daterangepicker-action" style="background: none; border: none;cursor: pointer;">
                            <mat-icon role="img" (click)="open($event)" class="mat-icon material-icons ngx-daterangepicker-action" style="color: #3a7bca;">date_range</mat-icon>
                          </button> -->
                        <mat-icon matSuffix role="img" class="mat-icon material-icons ngx-daterangepicker-action" style="color: #3a7bca;">date_range</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.doj.touched && addUserForm.controls.doj.hasError('notNull')">
                            Please Select Date of joining
                        </mat-error>
                    </mat-form-field>

                </div>
                <!-- <div>
                <p>Role</p>
                <mat-form-field appearance="fill" style="width: 250px;padding: 4px;">
                    <mat-label>Select Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option [value]="role.name" *ngFor="let role of ROLES">{{role.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->


                <div class="grid-container">
                    <div style="padding: 0px 0px 17.5px;margin: 4px;">
                        <div style="display: inline-block;position: relative;min-width: 280px;min-height: 65px; padding: 10px 0px 0px 20px;" class="box2 mat-form-field-flex ">

                            <p style="margin: 0 0 0 0px;">Atwork Role</p>
                            <div style="padding-left: 2px;">
                                <ul>
                                    <li *ngFor="let role of ROLES;let i=index">
                                        <!-- <div class="container"> -->
                                        <label class="container"> {{role.name}}
                                        <input type="checkbox" [disabled]="true" *ngIf="role.name === 'L0'" [checked]="true">
                                        <input type="checkbox" (change)="selectRole(i,role.selected)" *ngIf="role.name != 'L0' " [checked]="role.selected" [disabled]="role.disabled">
                                        <span class="checkmark"></span>
                                        </label>
                                        <!-- </div> -->
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="grid-container">
                    <div *ngIf="!makeSelfFM">
                        <mat-form-field>
                            <mat-label>Functional Owner</mat-label>
                            <mat-select formControlName="fun_own" (selectionChange)="changeFM($event.value,newUserRoleValue)">
                                <mat-option [value]=0 *ngIf="newUserRoleValue==4" class="self-option">Self ({{newUserFirstName +" "+newUserLastName}})</mat-option>
                                <mat-option [value]="emp['emp_id']" *ngFor="let emp of FM_DATA">{{emp["emp_name"]}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addUserForm.controls.fun_own.touched && addUserForm.controls.fun_own.hasError('notNull')">
                                Please select Functional Owner
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Manager's Manager</mat-label>
                            <mat-select formControlName="man_manager" (selectionChange)="changeMM($event.value, newUserRoleValue)">
                                <mat-option [value]=0 *ngIf="newUserRoleValue==4 " class="self-option">Self ({{newUserFirstName +" "+newUserLastName}})</mat-option>
                                <mat-option [value]="emp['emp_id']" *ngFor="let emp of MM_DATA">{{emp["emp_name"]}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addUserForm.controls.man_manager.touched && addUserForm.controls.man_manager.hasError('notNull')">
                                Please select Manager's Manager
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Reporting Manager</mat-label>
                            <mat-select formControlName="rep_manager">
                                <mat-option [value]=0 *ngIf="newUserRoleValue==4 " class="self-option">Self ({{newUserFirstName +" "+newUserLastName}})</mat-option>
                                <mat-option [value]="emp['emp_id']" *ngFor="let emp of RM_DATA">{{emp["emp_name"]}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addUserForm.controls.rep_manager.touched && addUserForm.controls.rep_manager.hasError('notNull')">
                                Please select Reporting Manager
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div mat-dialog-actions>
                <div style="display: inline-block;padding-bottom: 10px;">
                    <app-button size='small' theme="blue-lite" type="submit" [disabled]="addUserForm.invalid">Add</app-button>
                </div>
            </div>
        </form>
    </ng-container>

</app-modal-popup>

<app-modal-popup #confirmationDialog [w]="'40%'" [h]="'30%'">
    <ng-container>
        Are you sure to discard the form ?
        <div style="margin-top: 10px ;">
            <div style="display: inline-block;padding: 4px;">
                <app-button size='small' type="button" theme="danger" (click)="closeAllDialog()">Yes</app-button>
            </div>
            <div style="display: inline-block;padding: 4px;">
                <app-button size='small' type="button" theme="blue-lite" (click)="closeConfirmationDialog()">No</app-button>
            </div>
        </div>
    </ng-container>
</app-modal-popup>


<app-modal-popup #editManagerDialog [w]="'350px'" [h]="is_emp_admin || user_role_id === 4 ?'565px':'480px'">
    <div head>
        Transfer
    </div>
    <p>
        Select managers for <b>{{edited_emp_name}}</b>
    </p>
    <p style="color: red;" *ngIf="edited_emp_role==4">
        <b>Note:</b> Managers cannot be changed for users having role L3
    </p>

    <ng-container>
        <div *ngIf="is_emp_admin || user_role_id === 4">
            <mat-form-field>
                <mat-label>Edit role/manager</mat-label>
                <mat-select [formControl]="editableItem" (selectionChange)="getEffectedEmpList()">
                    <mat-option [value]="'role'">ROLE</mat-option>
                    <mat-option [value]="'manager'">Managers</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="editableItem.value=='role'">
            <div style="padding: 0px 0px 17.5px;margin: 4px;">
                <div style="display: inline-block;position: relative;min-width: 280px;min-height: 65px; padding: 10px 0px 0px 20px;" class="box2 mat-form-field-flex ">

                    <p style="margin: 0 0 0 0px;">Atwork Role</p>
                    <div style="padding-left: 2px;">
                        <ul>
                            <li *ngFor="let role of ROLES;let i=index">
                                <!-- <div class="container"> -->
                                <label class="container"> {{role.name}}
                                <input type="checkbox" [disabled]="true" *ngIf="role.name === 'L0'" [checked]="true">
                                <input type="checkbox" (change)="selectRole(i,$event,false)" *ngIf="role.name != 'L0' " [checked]="role.selected" [disabled]="role.disabled">
                                <span class="checkmark"></span>
                                </label>
                                <!-- </div> -->
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- <p style="color: red;">
                    Number of employees under selected manager: <b>{{effected_emp_count}}</b>
                </p> -->

                <!-- <div style="display: inline-block; text-align: center;margin:20px">
                    <app-button size='small' theme="danger" type="button" (click)="openTransferEmp()" [disabled]="effected_emp_count==0">Transfer All</app-button>
                </div> -->
                <div style="text-align: center;margin:20px;">
                    <app-button size='small' theme="blue-lite" type="button" (click)="changeRole()" [disabled]="this.PreviousRoleVlaue>=selectedRoleValue">Update</app-button>
                </div>
            </div>
        </div>
        <div *ngIf="editableItem.value=='manager'">
            <!-- <p style="color: red;">
                Managers will be changed from the next cycle
            </p> -->
            <form [formGroup]="editManagerForm" (ngSubmit)="updateManager()">


                <mat-form-field [ngClass]="{'disabled_field' : (user_role_id<4 && is_emp_admin==false) ||edited_emp_role==4}">
                    <mat-label>Functional Owner</mat-label>
                    <mat-select formControlName="fun_own" (selectionChange)="changeFM($event.value, edited_emp_role)" [disabled]='(user_role_id<4 && is_emp_admin==false) ||edited_emp_role==4'>
                        <mat-option [value]="emp['emp_id']" *ngFor="let emp of FM_DATA">{{emp["emp_name"]}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="editManagerForm.controls.fun_own.touched && editManagerForm.controls.fun_own.hasError('required')">
                        Please select Functional Owner
                    </mat-error>
                </mat-form-field>


                <mat-form-field [ngClass]="{'disabled_field' : (user_role_id<3  && is_emp_admin==false) || edited_emp_role==4}">
                    <mat-label>Manager's Manager</mat-label>
                    <mat-select formControlName="man_manager" (selectionChange)="changeMM($event.value, edited_emp_role)" [disabled]='(user_role_id<3  && is_emp_admin==false) || edited_emp_role==4'>
                        <mat-option [value]="emp['emp_id']" *ngFor="let emp of MM_DATA">{{emp["emp_name"]}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="editManagerForm.controls.man_manager.touched && editManagerForm.controls.man_manager.hasError('required')">
                        Please select Manager's Manager
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Reporting Manager</mat-label>
                    <mat-select formControlName="rep_manager" [disabled]='edited_emp_role==4'>
                        <mat-option [value]="emp['emp_id']" *ngFor="let emp of RM_DATA">{{emp["emp_name"]}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="editManagerForm.controls.rep_manager.touched && editManagerForm.controls.rep_manager.hasError('required')">
                        Please select Reporting Manager
                    </mat-error>
                </mat-form-field>


                <div mat-dialog-actions style="padding-bottom:20px" *ngIf="edited_emp_role!=4">


                    <div style="display: inline-block; text-align: center;">
                        <app-button size='small' theme="blue-lite" type="submit" [disabled]="editManagerForm.invalid">Update</app-button>
                    </div>
                </div>

            </form>
        </div>

    </ng-container>
</app-modal-popup>

<app-modal-popup #transferEmps [w]="'450px'" [h]="'480px'">
    <div head>
        Transfer employee
    </div>
    <p style="color: red;">
        Number of employees under selected manager : <b>{{effected_emp_count}}</b>
    </p>
    <ng-container>
        <form [formGroup]="transferEmpForm" (ngSubmit)="transferEmp()">



            <mat-form-field [ngClass]="{'disabled_field' : user_role_id<4 && is_emp_admin==false}">
                <mat-label>Functional Owner</mat-label>
                <mat-select formControlName="fun_own" (selectionChange)="changeFM($event.value, 1)" [disabled]='user_role_id<4 && is_emp_admin==false'>
                    <mat-option [value]="emp['emp_id']" *ngFor="let emp of FM_DATA">{{emp["emp_name"]}}</mat-option>
                </mat-select>
                <mat-error *ngIf="transferEmpForm.controls.fun_own.touched && transferEmpForm.controls.fun_own.hasError('required')">
                    Please select Functional Owner
                </mat-error>
            </mat-form-field>


            <mat-form-field [ngClass]="{'disabled_field' : user_role_id<3 && is_emp_admin==false}">
                <mat-label>Manager's Manager</mat-label>
                <mat-select formControlName="man_manager" (selectionChange)="changeMM($event.value, 1)" [disabled]='user_role_id<3 && is_emp_admin==false'>
                    <mat-option [value]="emp['emp_id']" *ngFor="let emp of MM_DATA">{{emp["emp_name"]}}</mat-option>
                </mat-select>
                <mat-error *ngIf="transferEmpForm.controls.man_manager.touched && transferEmpForm.controls.man_manager.hasError('required')">
                    Please select Manager's Manager
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Reporting Manager</mat-label>
                <mat-select formControlName="rep_manager">
                    <mat-option [value]="emp['emp_id']" *ngFor="let emp of RM_DATA">{{emp["emp_name"]}}</mat-option>
                </mat-select>
                <mat-error *ngIf="transferEmpForm.controls.rep_manager.touched && transferEmpForm.controls.rep_manager.hasError('required')">
                    Please select Reporting Manager
                </mat-error>
            </mat-form-field>




            <div mat-dialog-actions style="padding-bottom:20px">
                <div style="display: inline-block; text-align: center;">
                    <app-button size='small' theme="blue-lite" type="submit" [disabled]="(transferEmpForm.invalid)">Update</app-button>
                </div>
            </div>

        </form>


    </ng-container>
</app-modal-popup>

<app-modal-popup #updateLeave [w]="'450px'" [h]="'480px'">
    <div head>
        Import/Export Leaves
    </div>
    <ng-container>
        <div class="flex p-5 left-xs fs-18 download-bn" style="color: #067bca;cursor:pointer;" [dbdFileDownload]="{endPoint:'leave/config/export-emp-leave/?',responseType:'blob'}">Export Leaves <span [svgIcon]="{url:'./assets/icons-sprite.svg#download',w:15}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5 mt-3"></span></div>
        <div style="margin-top: 20px;    background-color: var(--color-quaternary);padding: 10px;">
            <!-- <h2>Import leave</h2> -->

            <form [formGroup]="fileUpdateForm" (ngSubmit)="addUser()">
                <mat-form-field class="full-width fg-1 file">
                    <app-file [folderUpload]="false" formControlName="file" [multiple]="false" [accept]="{browse:'.xlsx', drop:['.xlsx']}" pH="Drop or browse file to import leave balance " idd="leave-bal-upload"></app-file>

                    <mat-error class="fs-14" *ngIf="fileUpdateForm.controls.file.touched && fileUpdateForm.controls.file.hasError('required')">
                        This field is required
                    </mat-error>
                </mat-form-field>
                <app-button size='small' theme="blue-lite" type="button" (click)="uploadLeaveExcel()" [disabled]="fileUpdateForm.invalid">Upload</app-button>
            </form>

            <!-- <div class="upload" style="position: relative;margin-top: 10px;">
            <label for="upload"> Import Leaves </label>
            <input  class="upload" id="upload" type="file" (change)="addFile($event)"> -->
            <!-- <div *ngIf="leaveUpdateFormControl.touched && leaveUpdateFormControl.hasError('required')" style="color: red;">This field is required</div>
            <div *ngIf="leaveUpdateFormControl.touched && !leaveUpdateFormControl.hasError('required')">{{leaveUpdateFormControl.value.name}}</div>
             -->
            <!-- </div> -->
        </div>


    </ng-container>
</app-modal-popup>




<app-modal-popup #updateMis [w]="'450px'" [h]="'480px'">
    <div head>
        Import/Export MIS
    </div>
    <ng-container>
        <div class="flex p-5 left-xs fs-18 download-bn" style="color: #067bca;cursor:pointer;" [dbdFileDownload]="{endPoint:'downloadmis/?',responseType:'blob'}">Export MIS <span [svgIcon]="{url:'./assets/icons-sprite.svg#download',w:15}" style="color:var(--color-tertiary);" svg-fill="currentColor" class="ml-5 mt-3"></span></div>
        <div style="margin-top: 20px;    background-color: var(--color-quaternary);padding: 10px;">
            <!-- <h2>Import leave</h2> -->

            <form [formGroup]="fileUpdateForm" (ngSubmit)="addUser()">
                <mat-form-field class="full-width fg-1 file">
                    <app-file [folderUpload]="false" formControlName="file" [multiple]="false" pH="Drop or browse file to import MIS " idd="mis-upload"></app-file>

                    <mat-error class="fs-14" *ngIf="fileUpdateForm.controls.file.touched && fileUpdateForm.controls.file.hasError('required')">
                        This field is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-error *ngIf=" fileUpdateForm.controls.password.touched && fileUpdateForm.controls.password.hasError('required')">
                        Please enter password
                    </mat-error>
                </mat-form-field>

                <app-button size='small' theme="blue-lite" type="button" (click)="uploadMis()" [disabled]="fileUpdateForm.invalid">Upload</app-button>
            </form>

            <!-- <div class="upload" style="position: relative;margin-top: 10px;">
            <label for="upload"> Import Leaves </label>
            <input  class="upload" id="upload" type="file" (change)="addFile($event)"> -->
            <!-- <div *ngIf="leaveUpdateFormControl.touched && leaveUpdateFormControl.hasError('required')" style="color: red;">This field is required</div>
            <div *ngIf="leaveUpdateFormControl.touched && !leaveUpdateFormControl.hasError('required')">{{leaveUpdateFormControl.value.name}}</div>
             -->
            <!-- </div> -->
        </div>


    </ng-container>
</app-modal-popup>