body{
    --color-primary:#067bca; 
    --color-primary-lite:#1991df; 
    --color-primary-lite-extra:#2ca5f6; 
    --color-orange:#067bca; 
    --color-secondary:#06b4e7;
    --color-tertiary:#5dcbdc;
    --color-quaternary:#d6f1f8;
    --color-quaternary-dark:#97e2f5;
    --color-blue:#3447a0;
    --color-blue-lite:#566cd1;
    --color-bg:#f6fafd;
    --color-danger: #dc3545;
    --color-success:#28a745;
    --color-warning:#ffc107; 
    --color-form-control-placeholder:#5dcbdc;
    --color-gray-lite: lightgray;
    --color-blue-bg:#edf1f7
}