body{
    --color-primary:#f37834; 
    --color-orange:#f37834; 
    --color-orange-lite:#f8a273;
    --color-orange-lite-extra:#fdcaaf;
    --color-blue:#3447a0;
    --color-blue-lite:#566cd1;
    --color-bg:#eee;
    --color-danger: #dc3545;
    --color-success:#28a745;
    --color-warning:#ffc107; 
}