@import "./_css-variables";

.mat-form-field-flex {
  background: none;
  height: 60px;
  border-radius: 20px;
  color: var(--color-tertiary);
  align-items: center;
  border: 1px solid #666;
}

.lite .mat-form-field-flex {
  background: none;
}

.mat-form-field-disabled .mat-form-field-flex {
  cursor: default;
  opacity: 0.4
}

// set min width for paginator 

mat-paginator .mat-form-field-flex {
  min-width: 70px;
}

.mat-focused .mat-form-field-flex {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.mat-form-field-subscript-wrapper {
  position: relative !important;
}

.mat-form-field-type-mat-input {
  input::-webkit-input-placeholder {
    color: var(--color-form-control-placeholder);
  }

  input:focus::-webkit-input-placeholder {
    color: var(--color-form-control-placeholder);
  }

  input::-moz-placeholder {
    color: var(--color-form-control-placeholder);
  }

  input:focus::-moz-placeholder {
    color: var(--color-form-control-placeholder);
  }

  input:-ms-input-placeholder {
    color: var(--color-form-control-placeholder) !important;
  }

  input:focus::-ms-input-placeholder {
    color: var(--color-form-control-placeholder) !important;
  }
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  height: 100%;
  align-self: flex-start;
  align-items: center;
  display: flex;
  margin: 0 10px;
}

.mat-form-field-prefix {
  margin-right: -10px;
}

mat-error {
  color: red;
}

mat-label sup {
  color: rgb(251, 11, 11);
  vertical-align: text-top;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 1em 0 1em 20px;
  font-size: 14px;
}

.mat-form-field-label {
  padding-left: 25px;
  color: var(--color-tertiary);
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.52125em;
}

.mat-autocomplete-panel {
  background: #d6f1f8;
  border: 1px;
  border-color: #f1f2f3;
  border-radius: 20px;
}

.mat-form-field-appearance-legacy.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-0.78125em) scale(0.75) perspective(100px) translateZ(0.00101px) !important;
  transform: translateY(-0.78125em) scale(0.75) perspective(100px) translateZ(0.00101px) !important;
}

// TABLE
.mat-table {
  position: relative;
  // border-collapse: separate;
  // border-spacing: 0px 7px !important;
  color: var(--color-text-primary);
  width: calc(100% - 2px) !important;
  --border-color: #eee;
}

.dark .mat-table {
  --border-color: #ddd;
}

.dark-blue .mat-table {
  --border-color: var(--color-primary);
}

.mat-table thead th:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: var(--color-primary);
  height: 100%;
  z-index: -1;
}

tr.mat-header-row {
  height: auto;
}

.mat-table thead tr th {
  position: relative;
  vertical-align: middle;
  z-index: 1;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  // word-break: break-all;
  max-width: 20vw;
  padding: 5px 10px 5px 0;
  overflow-wrap: break-word;
}

.mat-table thead {
  margin-bottom: 20px;
  border-right: 1px solid var(--color-primary);
}

.mat-table tr td {
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  word-wrap: break-word;
}

.mat-table tbody tr {
  border-bottom: 1px solid var(--border-color);
}

.mat-table tbody {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

// .dark .mat-table tbody tr { 
//   box-shadow: 0px 0px 0px 1px #555; 
// }
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border: none !important;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type,
.mat-table tr td {
  padding-right: 15px !important;
}

.mat-row {
  position: relative;
}

.mat-row:hover {
  background: rgba(255, 255, 255, 0.1);
  ;
}

.mat-row:hover {
  background: #eee;
}

.mat-row:after {}

.mat-select-panel:not([class*="mat-elevation-z"]) {
  border-radius: 20px;
  // box-shadow: 0 3px 4px 2px rgba(0, 0, 0, .24), 0 0 4px 2px rgba(0, 0, 0, .12);  
  border: 1px solid #ccc;
  // background:var(--color-orange-lite-extra);
}

.mat-option.mat-active {
  // background: var(--color-orange-lite);
}

.mat-select-panel {
  background: #fff;
}

.mat-paginator-icon {
  stroke: none;
}

.mat-form-field {
  display: block !important;
}

.mat-autocomplete-panel {
  border-radius: 20px !important;
}

.mat-option-text {
  color: #555;
}

.mat-option-pseudo-checkbox,
.mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  color: #555;
  border-color: initial !important;
}

.mat-select-arrow-wrapper .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid;
  margin: -8px 12px 0;
  position: relative;
}

mat-option:hover {
  background: var(--color-gray-lite) !important;
}

mat-radio-button .mat-radio-outer-circle {
  border-color: var(--color-primary);
}

mat-radio-button .mat-radio-inner-circle {
  background: var(--color-primary);
}

.secondary {
  mat-radio-button .mat-radio-outer-circle {
    border-color: var(--color-secondary);
  }

  mat-radio-button .mat-radio-inner-circle {
    background: var(--color-secondary);
  }
}

.mat-radio-disabled:not(.mat-radio-checked) {
  opacity: 0.4;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--color-secondary);
}

.mat-checkbox-disabled {
  opacity: 0.6;
}

.mat-error.h-0 {
  height: 0px;
}

// File input with mat wrappr
.mat-form-field-type-file-input .mat-form-field-infix {
  padding: 0px !important;
  border: none !important;
}

.mat-form-field-type-file-input .mat-form-field-label-wrapper {
  display: none;
}

.mat-form-field-type-file-input .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0px !important;
  margin: 0;
}

.mat-form-field-type-file-input .mat-form-field-flex {
  background: none;
  height: auto;
}

.mat-focused.mat-form-field-type-file-input .mat-form-field-flex {
  border: none;
}

/* MAT PAGINATOR */
.mat-paginator-container {
  color: var(--color-text-heading);
}

.mat-paginator .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px 0 0 5px !important;
  border: none !important;
}

.mat-paginator .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0 0 0 5px !important;
  margin: 0;
}

.mat-paginator-page-size {
  align-items: center !important;
}

.mat-paginator .mat-form-field-flex {
  align-items: center;
}

.mat-paginator .mat-form-field-flex {
  height: 40px;
}

.mat-paginator .mat-select-arrow-wrapper {
  vertical-align: bottom;
}

.mat-paginator-navigation-last,
.mat-paginator-navigation-first,
.mat-paginator-navigation-next,
.mat-paginator-navigation-previous {
  background: #eee;
}

/* MAT SLIDE TOGGLE */
.mat-slide-toggle-bar {
  background: rgba(255, 255, 255, .6);
}

.mat-slide-toggle-thumb {
  background: #eee;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background: var(--color-primary-extra-lite);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background: var(--color-primary);
}

.mat-progress-bar .mat-progress-bar-buffer {
  background: #666;
}

.mat-progress-bar .mat-progress-bar-fill {
  background: var(--color-secondary);
}

// STEPPER
.mat-horizontal-content-container {
  flex-grow: 1 !important;
}

.mat-horizontal-stepper-content {
  height: 100%;
}

// plain mat form field box
.mat-form-field-plain {
  background: var(--color-primary);
  height: 60px;
  border-radius: 5px;
  width: 100%;
  padding: 1em 10px;
  color: var(--color-text-heading);
  position: relative;
}

.mat-form-field-plain label {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 12px;
}

.mat-form-field-plain div {
  position: absolute;
  top: 1.6em;
  left: 10px;
}

.mat-form-field-plain.disabled {
  // background: var(--color-primary-lite);

}

// mat menu item
.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

.mat-menu-item {
  background: transparent;
  color: rgba(0, 0, 0, .87);
}

.mat-menu-item-highlighted:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
  background: rgba(0, 0, 0, .04);
}

button.mat-menu-item {
  width: 100%;
}

// date picker styles 
.mat-datepicker-content {
  background-color: #fbfbfb !important;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}
.mat-datepicker-toggle {
  button{
    background: none;
  }
}

.mat-calendar-body-cell-content {
  border: none !important;
}

.mat-calendar-body-disabled .mat-calendar-body-cell-content {
  background: none;
  color: #ccc;
  pointer-events: none;
}

.mat-calendar-body-selected.mat-calendar-body-cell-content {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.mat-calendar-body-today.mat-calendar-body-cell-content {
  border: 1px solid #ccc !important;
}

textarea {
  border: 1px solid #666;
  padding-left: 20px !important;
  padding-top: 10px !important;
  background-color: inherit;
  &:focus{
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 30%);
  }
  &.mat-input-element{
    border-radius: 20px;
    border: 1px solid #666;
  }
}

// mat dialog

.confirm-popup .mat-dialog-container,
.info-popup .mat-dialog-container {
  padding: 0;
  overflow: visible;
}


// mat toolbar

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mat-toolbar {
  background: var(--color-primary);
  color: #fff;

  &.secondary {
    background: var(--color-secondary);
  }
}

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0;
}
